
<%- model_class = @advert.class -%>
<%= tutorial_progress_bar %>
<h1>Vos annonces</h1>

<div id="adverts"> 
<% @adverts.each do |advert| %> 
    <%= render( :partial => '/become_teacher/advert', :locals=>{:advert => advert} ) %>
<% end %>
</div>

<%= render( :partial => '/adverts/form', :locals=>{:advert=> @advert, :remote => true} ) %>

<nav>
  <%= link_to 'Continuer', next_wizard_path %>
</nav>