<%= tutorial_progress_bar %>
<h1>Super, c'est fini!</h1>
<p>
  blablabla on va vous ocntacter pour la suite... 
  <%= link_to("Voir mon profil", '/users/'+current_user.id.to_s, html_options = {class: "btn btn-default"}) %>
  <%= link_to("Accueil", root_path, html_options = {class: "btn btn-default"}) %>
</p>
