%body
  - content_for(:title) { page.page_title }
  %header.header
    %h1.header__heading= content_for(:title)
    .header__actions
  %dl
    - page.attributes.each do |attribute|
      %dt.attribute-label= attribute.name.titleize
      %dd{:class => "attribute-data attribute-data--#{attribute.html_class}"}= render_field attribute
