.section_etapes
    .col
        =image_tag("comment_ca_marche/ico_com.png", :alt => "Communiquez en direct avec votre professeur.")
        %p Communiquez en direct avec votre professeur.
    .col
        =image_tag("comment_ca_marche/ico_formes.png", :alt => "Tracez et créez des formes géométriques grâce aux outils graphiques")
        %p Tracez et créez des formes géométriques grâce aux outils graphiques.
    .col
        =image_tag("comment_ca_marche/ico_partager.png", :alt => "Partagez tout type de document avec votre professeur")
        %p Partagez tout type de document avec votre professeur.
    .col
        =image_tag("comment_ca_marche/ico_record.png", :alt => "Les cours sont enregistrés pour que vous puissiez les revoir.")
        %p Les cours sont enregistrés pour que vous puissiez les revoir.