.section_video
  .left
    %h2.text-pink Comment ça marche
    %hr
    %p
      Qwerteach est une plateforme de cours particuliers en ligne qui propose un large choix de professeurs.
      %br
      %br
      = link_to "Plus d'infos", '#', class: 'text-grey'
  .right
    %iframe{:src => "https://v.interlude.fm/embed/MNpp8A"}
