.section_test_classe
    .left
        %iframe{:src => "https://qwerteach.com/classe-de-demo"}
    .right
        %h2.text-purple Visitez la classe virtuelle
        %hr
        %p
            La classe virtuelle est un espace de vidéo-conférence spécialement conçu pour l'enseignement.
            %br
            %br
            = link_to "Plus d'infos", pages_path('faq)
