.section_test_classe
    .left
        %iframe{:src => "https://qwerteach.com/classe-de-demo"}
    .right
        %h2 Visitez la classe virtuelle
        %hr
        %p La classe virtuelle est un espace de vidéo-conférence spécialement conçu pour l'enseignement.
