.section_comment_prendre_cours
    %h2 Comment prendre un cours
    .cont
        .text
            %h3 Choisir un prof
            %p Qwerteach rassemble une communauté de professeurs compétents dans plusieurs matières et prêts à vous aider à tout moment.
            %a.infos{:href => "#"} Plus d'infos
        .icone
            =image_tag("comment_ca_marche/loupe.png", :alt => "Qwerteach rassemble une communauté de professeurs compétents dans plusieurs matières et prêts à vous aider à tout moment.")
    .cont
        .text
            %h3 Réserver un cours
            %p Expliquez les raisons pour lesquelles vous sollicitez l'aide d'un professeur. Par exemple en précisant les points de matière qui vous posent difficulté ou encore en présentant les consignes d'un examen d'entrée.
            %a.infos{:href => "#"} Plus d'infos
        .icone
            =image_tag("comment_ca_marche/calendrier.png", :alt => "Expliquez les raisons pour lesquelles vous sollicitez l'aide d'un professeur. Par exemple en précisant les points de matière qui vous posent difficulté ou encore en présentant les consignes d'un examen d'entrée")
    .cont
        .text
            %h3 Profiter d'un cours particulier
            %p Tout est prêt, il ne vous reste plus qu'à rejoindre votre professeur dans la classe virtuelle !
            %a.infos{:href => "#"} Plus d'infos
        .icone
            =image_tag("comment_ca_marche/ordi.png", :alt => "Tout est prêt, il ne vous reste plus qu'à rejoindre votre professeur dans la classe virtuelle !")