.section_etapes
    .col
        .circle
        %p Communiquez en direct avec votre professeur.
    .col
        .circle
        %p Tracez et créez des formes géométriques grâce aux outils graphiques.
    .col
        .circle
        %p Partagez tout type de document avec votre professeur.
    .col
        .circle
        %p Les cours sont enregistrés pour que vous puissiez les revoir.