.section_video
  .left
    %h2 Comment ça marche
    %hr
    %p Qwerteach est une platforme de cours en particuliers en ligne qui propose un large choix de professeurs.
  .right
    %iframe{:src => "https://v.interlude.fm/embed/MNpp8A"}
