.backgroundEdit.edit_profile
  .container-fluid
    .row.flex
      .col-md-2.menu
        = render :partial => 'menu_edit_registrations'
      .col-md-10.right
        %div#passcode.collapse
          = render :partial => 'password_form'
        %div#annonces.collapse
          = render :template => 'adverts/index'
        %div#calendear.collapse
          Calendrier
        %div#degrees.collapse
          Diplômes
        %div#profil.collapse.in
          = render :partial => 'profile_form'