<%= current_user.email %>
<table style="width: 75%;">
  <thead>
  <tr>
    <th>Date de création</th>
    <th>Date d'execution</th>
    <th>Autre partie</th>
    <th>Montant</th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |t| %>
      <%= render 'mangopay_transaction', :transaction => t, :current_user => current_user %>
  <% end %>
  </tbody>
</table>
