---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"ET","Nationality":"PH","Address":{"AddressLine1":"Feest
        Highway","AddressLine2":"03862","PostalCode":"GT96 4GU","City":"Jayville","Region":"Florida","Country":"MN"},"FirstName":"Phyllis","LastName":"Schuster","Birthday":685299600,"Email":"sabina_fahey@halvorson.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '168'
      - '169'
      - '169'
      - '169'
      X-Ratelimit-Remaining:
      - '105431'
      - '2132'
      - '4331'
      - '8631'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Feest Highway","AddressLine2":"03862","City":"Jayville","Region":"Florida","PostalCode":"GT96
        4GU","Country":"MN"},"FirstName":"Phyllis","LastName":"Schuster","Birthday":685299600,"Nationality":"PH","CountryOfResidence":"ET","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"sabina_fahey@halvorson.ca","KYCLevel":"LIGHT","Id":"16234912","Tag":"user
        5","CreationDate":1474391878}'
  recorded_at: Tue, 20 Sep 2016 17:18:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234912],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '169'
      - '170'
      - '170'
      - '170'
      X-Ratelimit-Remaining:
      - '105430'
      - '2131'
      - '4330'
      - '8630'
      X-Ratelimit-Reset:
      - '1474392780'
      - '1474393680'
      - '1474395480'
      - '1474478220'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234912"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234915","Tag":null,"CreationDate":1474391880}'
  recorded_at: Tue, 20 Sep 2016 17:18:00 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234912/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234912/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234912/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '172'
      - '173'
      - '173'
      - '173'
      X-Ratelimit-Remaining:
      - '105427'
      - '2128'
      - '4327'
      - '8627'
      X-Ratelimit-Reset:
      - '1474392780'
      - '1474393680'
      - '1474395480'
      - '1474478220'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 17:18:02 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16234912,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '173'
      - '174'
      - '174'
      - '174'
      X-Ratelimit-Remaining:
      - '105426'
      - '2127'
      - '4326'
      - '8626'
      X-Ratelimit-Reset:
      - '1474392780'
      - '1474393680'
      - '1474395480'
      - '1474478220'
    body:
      encoding: UTF-8
      string: '{"Id":"16234920","Tag":null,"CreationDate":1474391882,"UserId":"16234912","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"S8HjKhXaPXeNlzbaHMqIv9BP35NqtcbKfbhTfFIQcdAMgLupKANVNYiBYHVvnc9NS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 17:18:02 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=S8HjKhXaPXeNlzbaHMqIv9BP35NqtcbKfbhTfFIQcdAMgLupKANVNYiBYHVvnc9NS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=WlFlNrFOZLxXvGO11QriKyY5oAaCsFTGNFVpAdoYCsOXFbXwGvaaiqdgu1hG0rzEeWIRspAKNbXDOIIVH4OErWKb4RCuEVGjJdpabsDSTM4R4RRecbCGzac-xXtOamGb0ftIYwFxOdfmDQ5GtM_cIg
  recorded_at: Tue, 20 Sep 2016 17:18:03 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/16234920
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=WlFlNrFOZLxXvGO11QriKyY5oAaCsFTGNFVpAdoYCsOXFbXwGvaaiqdgu1hG0rzEeWIRspAKNbXDOIIVH4OErWKb4RCuEVGjJdpabsDSTM4R4RRecbCGzac-xXtOamGb0ftIYwFxOdfmDQ5GtM_cIg"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234912/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/16234921
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '176'
      - '177'
      - '177'
      - '177'
      X-Ratelimit-Remaining:
      - '105423'
      - '2124'
      - '4323'
      - '8623'
      X-Ratelimit-Reset:
      - '1474392780'
      - '1474393680'
      - '1474395480'
      - '1474478220'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16234912","Id":"16234921","Tag":null,"CreationDate":1474391883}'
  recorded_at: Tue, 20 Sep 2016 17:18:05 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234912,"CreditedUserId":16234912,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16234915","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16234921"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '177'
      - '178'
      - '178'
      - '178'
      X-Ratelimit-Remaining:
      - '105422'
      - '2123'
      - '4322'
      - '8622'
      X-Ratelimit-Reset:
      - '1474392780'
      - '1474393680'
      - '1474395480'
      - '1474478220'
    body:
      encoding: UTF-8
      string: '{"Id":"16234924","Tag":null,"CreationDate":1474391885,"AuthorId":"16234912","CreditedUserId":"16234912","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234915","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16234921","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:18:07 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234912,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234915","CreditedWalletId":"16234917"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
