---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"3e6415c9a92343708df2e4f9d2a64b0e","token_type":"Bearer","expires_in":1199}'
  recorded_at: Tue, 20 Sep 2016 08:21:38 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"LS","Nationality":"PK","Address":{"AddressLine1":"Batz
        Spring","AddressLine2":"49240","PostalCode":"VL98 8OI","City":"South Jadyntown","Region":"Virginia","Country":"BV"},"FirstName":"Jarret","LastName":"Fahey","Birthday":685299600,"Email":"frederik@moore.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '12'
      - '23'
      - '23'
      - '99'
      X-Ratelimit-Remaining:
      - '105501'
      - '2288'
      - '4477'
      - '8777'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Batz Spring","AddressLine2":"49240","City":"South
        Jadyntown","Region":"Virginia","PostalCode":"VL98 8OI","Country":"BV"},"FirstName":"Jarret","LastName":"Fahey","Birthday":685299600,"Nationality":"PK","CountryOfResidence":"LS","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"frederik@moore.ca","KYCLevel":"LIGHT","Id":"16207584","Tag":"user
        5","CreationDate":1474359699}'
  recorded_at: Tue, 20 Sep 2016 08:21:39 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16207584],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '100'
      - '13'
      - '24'
      - '24'
      X-Ratelimit-Remaining:
      - '105500'
      - '2287'
      - '4476'
      - '8776'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16207584"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16207585","Tag":null,"CreationDate":1474359700}'
  recorded_at: Tue, 20 Sep 2016 08:21:40 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207584/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207584/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207584/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '103'
      - '16'
      - '27'
      - '27'
      X-Ratelimit-Remaining:
      - '105497'
      - '2284'
      - '4473'
      - '8773'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 08:21:41 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16207584,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '104'
      - '17'
      - '28'
      - '28'
      X-Ratelimit-Remaining:
      - '105496'
      - '2283'
      - '4472'
      - '8772'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: '{"Id":"16207588","Tag":null,"CreationDate":1474359702,"UserId":"16207584","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"3HqPlFutoDFNG4POzHjI-G6-ZwoCFsafh9LS5FcpjvGf5CcKcat-uX6ZszOBtm3HS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 08:21:42 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=3HqPlFutoDFNG4POzHjI-G6-ZwoCFsafh9LS5FcpjvGf5CcKcat-uX6ZszOBtm3HS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=KaTxujupyEIfYe25u7Bc8LBvap4W_D9Hx8ITpdVk0ZzBIJhShg8PwaKK6I0cXi-yQpptMPV9wjuBAcXfyKJEPtq6FXYaZ7dBocv2YugmvNcRCAH1G9hpFGg5LUy2uCl20ftIYwFxOdfmDQ5GtM_cIg
  recorded_at: Tue, 20 Sep 2016 08:21:43 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations/16207588
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=KaTxujupyEIfYe25u7Bc8LBvap4W_D9Hx8ITpdVk0ZzBIJhShg8PwaKK6I0cXi-yQpptMPV9wjuBAcXfyKJEPtq6FXYaZ7dBocv2YugmvNcRCAH1G9hpFGg5LUy2uCl20ftIYwFxOdfmDQ5GtM_cIg"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Clien[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207584/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cards/16207589
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '107'
      - '20'
      - '31'
      - '31'
      X-Ratelimit-Remaining:
      - '105493'
      - '2280'
      - '4469'
      - '8769'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16207584","Id":"16207589","Tag":null,"CreationDate":1474359704}'
  recorded_at: Tue, 20 Sep 2016 08:21:45 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207584,"CreditedUserId":16207584,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16207585","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16207589"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '108'
      - '21'
      - '32'
      - '32'
      X-Ratelimit-Remaining:
      - '105492'
      - '2279'
      - '4468'
      - '8768'
      X-Ratelimit-Reset:
      - '1474360560'
      - '1474361460'
      - '1474363260'
      - '1474446000'
    body:
      encoding: UTF-8
      string: '{"Id":"16207590","Tag":null,"CreationDate":1474359706,"AuthorId":"16207584","CreditedUserId":"16207584","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16207585","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16207589","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 08:21:46 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207584,"DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16207585","CreditedWalletId":"16207587"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindi[...]
[...]
