---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CW","Nationality":"DK","Address":{"AddressLine1":"Alverta
        Dale","AddressLine2":"398","PostalCode":"QV6 2WH","City":"DuBuquefurt","Region":"Mississippi","Country":"MC"},"FirstName":"Jaren","LastName":"Oberbrunner","Birthday":685299600,"Email":"effie_spencer@ward.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '127'
      - '15'
      - '29'
      - '51'
      X-Ratelimit-Remaining:
      - '105473'
      - '2285'
      - '4471'
      - '8749'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Alverta Dale","AddressLine2":"398","City":"DuBuquefurt","Region":"Mississippi","PostalCode":"QV6
        2WH","Country":"MC"},"FirstName":"Jaren","LastName":"Oberbrunner","Birthday":685299600,"Nationality":"DK","CountryOfResidence":"CW","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"effie_spencer@ward.us","KYCLevel":"LIGHT","Id":"16207979","Tag":"user
        5","CreationDate":1474360708}'
  recorded_at: Tue, 20 Sep 2016 08:38:28 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16207979],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '128'
      - '16'
      - '30'
      - '52'
      X-Ratelimit-Remaining:
      - '105472'
      - '2284'
      - '4470'
      - '8748'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16207979"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16207982","Tag":null,"CreationDate":1474360709}'
  recorded_at: Tue, 20 Sep 2016 08:38:29 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207979/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207979/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207979/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '131'
      - '19'
      - '33'
      - '55'
      X-Ratelimit-Remaining:
      - '105469'
      - '2281'
      - '4467'
      - '8745'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 08:38:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16207979,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '132'
      - '20'
      - '34'
      - '56'
      X-Ratelimit-Remaining:
      - '105468'
      - '2280'
      - '4466'
      - '8744'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: '{"Id":"16207985","Tag":null,"CreationDate":1474360712,"UserId":"16207979","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"S2mSVl8PLRVHgaMNATInMnpbp9cW-gbU3U2bKoGZfwK-9uBAfP1A5k05A7MEu2GYS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 08:38:32 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=S2mSVl8PLRVHgaMNATInMnpbp9cW-gbU3U2bKoGZfwK-9uBAfP1A5k05A7MEu2GYS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=dAj315t4g0Sq0Zy7Th16sZttiu5k9n0ZMLtY0ox6tF2GM15qs52uN9VivlgDde-acZotWZ1-TtWGT4t0-0x0pqD8fmYqlxpeoPskEcOOBsYgTqY6nv4EPQkZ-UtW6iRj0ftIYwFxOdfmDQ5GtM_cIg
  recorded_at: Tue, 20 Sep 2016 08:38:33 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations/16207985
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=dAj315t4g0Sq0Zy7Th16sZttiu5k9n0ZMLtY0ox6tF2GM15qs52uN9VivlgDde-acZotWZ1-TtWGT4t0-0x0pqD8fmYqlxpeoPskEcOOBsYgTqY6nv4EPQkZ-UtW6iRj0ftIYwFxOdfmDQ5GtM_cIg"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Clien[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207979/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cards/16207986
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '135'
      - '23'
      - '37'
      - '59'
      X-Ratelimit-Remaining:
      - '105465'
      - '2277'
      - '4463'
      - '8741'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16207979","Id":"16207986","Tag":null,"CreationDate":1474360714}'
  recorded_at: Tue, 20 Sep 2016 08:38:35 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207979,"CreditedUserId":16207979,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16207982","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16207986"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '136'
      - '24'
      - '38'
      - '60'
      X-Ratelimit-Remaining:
      - '105464'
      - '2276'
      - '4462'
      - '8740'
      X-Ratelimit-Reset:
      - '1474361580'
      - '1474362480'
      - '1474364280'
      - '1474447020'
    body:
      encoding: UTF-8
      string: '{"Id":"16207987","Tag":null,"CreationDate":1474360716,"AuthorId":"16207979","CreditedUserId":"16207979","DebitedFunds":{"Currency":"EUR","Amount":3000},"CreditedFunds":{"Currency":"EUR","Amount":3000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16207982","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16207986","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 08:38:36 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207979,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16207983","CreditedWalletId":"16207984"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindi[...]
[...]
