---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CL","Nationality":"TZ","Address":{"AddressLine1":"Orn
        Cape","AddressLine2":"6156","PostalCode":"OP6 3FT","City":"Kuvalisfurt","Region":"North
        Dakota","Country":"CN"},"FirstName":"Hope","LastName":"Collier","Birthday":685299600,"Email":"karley@okeefe.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '54'
      - '55'
      - '55'
      - '55'
      X-Ratelimit-Remaining:
      - '105545'
      - '2246'
      - '4445'
      - '8745'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Orn Cape","AddressLine2":"6156","City":"Kuvalisfurt","Region":"North
        Dakota","PostalCode":"OP6 3FT","Country":"CN"},"FirstName":"Hope","LastName":"Collier","Birthday":685299600,"Nationality":"TZ","CountryOfResidence":"CL","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"karley@okeefe.com","KYCLevel":"LIGHT","Id":"16234775","Tag":"user
        5","CreationDate":1474391767}'
  recorded_at: Tue, 20 Sep 2016 17:16:08 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234775],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '55'
      - '56'
      - '56'
      - '56'
      X-Ratelimit-Remaining:
      - '105544'
      - '2245'
      - '4444'
      - '8744'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234775"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234776","Tag":null,"CreationDate":1474391768}'
  recorded_at: Tue, 20 Sep 2016 17:16:08 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234775/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234775/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234775/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '58'
      - '59'
      - '59'
      - '59'
      X-Ratelimit-Remaining:
      - '105541'
      - '2242'
      - '4441'
      - '8741'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 17:16:10 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16234775,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '59'
      - '60'
      - '60'
      - '60'
      X-Ratelimit-Remaining:
      - '105540'
      - '2241'
      - '4440'
      - '8740'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234781","Tag":null,"CreationDate":1474391770,"UserId":"16234775","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"Qi7oou23Q8d9B3xUpjdMuaNfXbOmHzzfd8fu0xctHDkxruHg9T9dGbLBjF9PZAAhS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 17:16:11 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=Qi7oou23Q8d9B3xUpjdMuaNfXbOmHzzfd8fu0xctHDkxruHg9T9dGbLBjF9PZAAhS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxVJOhNHaJG1gYU1eHRtYIFwY90VaPvxFipw0yt3gDOmpuZ25xqp2b5jBK8MIHuOPp-3yAPUi8VwRvmGTQ-ohmx2_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Tue, 20 Sep 2016 17:16:11 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/16234781
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxVJOhNHaJG1gYU1eHRtYIFwY90VaPvxFipw0yt3gDOmpuZ25xqp2b5jBK8MIHuOPp-3yAPUi8VwRvmGTQ-ohmx2_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234775/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/16234784
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '62'
      - '63'
      - '63'
      - '63'
      X-Ratelimit-Remaining:
      - '105537'
      - '2238'
      - '4437'
      - '8737'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16234775","Id":"16234784","Tag":null,"CreationDate":1474391772}'
  recorded_at: Tue, 20 Sep 2016 17:16:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234775,"CreditedUserId":16234775,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16234776","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16234784"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '63'
      - '64'
      - '64'
      - '64'
      X-Ratelimit-Remaining:
      - '105536'
      - '2237'
      - '4436'
      - '8736'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234787","Tag":null,"CreationDate":1474391774,"AuthorId":"16234775","CreditedUserId":"16234775","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234776","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16234784","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:16:16 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234775,"DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234776","CreditedWalletId":"16234778"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
