---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"AG","Nationality":"KH","Address":{"AddressLine1":"Boyle
        Loop","AddressLine2":"6427","PostalCode":"RA49 4PX","City":"Port Nannie","Region":"Georgia","Country":"RU"},"FirstName":"Jabari","LastName":"Muller","Birthday":685299600,"Email":"eve@wizasatterfield.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '113'
      - '15'
      - '26'
      - '37'
      X-Ratelimit-Remaining:
      - '105487'
      - '2285'
      - '4474'
      - '8763'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Boyle Loop","AddressLine2":"6427","City":"Port
        Nannie","Region":"Georgia","PostalCode":"RA49 4PX","Country":"RU"},"FirstName":"Jabari","LastName":"Muller","Birthday":685299600,"Nationality":"KH","CountryOfResidence":"AG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"eve@wizasatterfield.info","KYCLevel":"LIGHT","Id":"16207857","Tag":"user
        5","CreationDate":1474360392}'
  recorded_at: Tue, 20 Sep 2016 08:33:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16207857],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '114'
      - '16'
      - '27'
      - '38'
      X-Ratelimit-Remaining:
      - '105486'
      - '2284'
      - '4473'
      - '8762'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16207857"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16207858","Tag":null,"CreationDate":1474360393}'
  recorded_at: Tue, 20 Sep 2016 08:33:12 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207857/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207857/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207857/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '117'
      - '19'
      - '30'
      - '41'
      X-Ratelimit-Remaining:
      - '105483'
      - '2281'
      - '4470'
      - '8759'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 08:33:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16207857,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '118'
      - '20'
      - '31'
      - '42'
      X-Ratelimit-Remaining:
      - '105482'
      - '2280'
      - '4469'
      - '8758'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: '{"Id":"16207861","Tag":null,"CreationDate":1474360395,"UserId":"16207857","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"XBDYiG8w9PrylPS01KmupQRyHWDRke558QyKgJRiT5R-hQU65rq3GKn2sYDJbRZUS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 08:33:14 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=XBDYiG8w9PrylPS01KmupQRyHWDRke558QyKgJRiT5R-hQU65rq3GKn2sYDJbRZUS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxUyqx7aywri5ophWbhmqEsoUExCqNynVU0oVwC3tBPRii-UwTuE0PHkNGmnpcA847xFACZyhGJT7GTfIE1hLyzZUoINGFMwFeoma55Nj5_j4g
  recorded_at: Tue, 20 Sep 2016 08:33:15 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations/16207861
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxUyqx7aywri5ophWbhmqEsoUExCqNynVU0oVwC3tBPRii-UwTuE0PHkNGmnpcA847xFACZyhGJT7GTfIE1hLyzZUoINGFMwFeoma55Nj5_j4g"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Clien[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/16207857/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cards/16207862
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '23'
      - '34'
      - '45'
      X-Ratelimit-Remaining:
      - '105479'
      - '2277'
      - '4466'
      - '8755'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16207857","Id":"16207862","Tag":null,"CreationDate":1474360396}'
  recorded_at: Tue, 20 Sep 2016 08:33:17 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207857,"CreditedUserId":16207857,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16207859","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16207862"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '24'
      - '35'
      - '46'
      X-Ratelimit-Remaining:
      - '105478'
      - '2276'
      - '4465'
      - '8754'
      X-Ratelimit-Reset:
      - '1474361280'
      - '1474362180'
      - '1474363980'
      - '1474446720'
    body:
      encoding: UTF-8
      string: '{"Id":"16207864","Tag":null,"CreationDate":1474360398,"AuthorId":"16207857","CreditedUserId":"16207857","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16207859","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16207862","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 08:33:20 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16207857,"DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16207859","CreditedWalletId":"16207860"}'
    headers:
      Authorization:
      - Bearer 3e6415c9a92343708df2e4f9d2a64b0e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindi[...]
[...]
