---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"PH","Nationality":"JM","Address":{"AddressLine1":"Claire
        Knoll","AddressLine2":"3984","PostalCode":"WI39 7IN","City":"North Taya","Region":"Idaho","Country":"RS"},"FirstName":"Anderson","LastName":"Mosciski","Birthday":685299600,"Email":"melba@daniellind.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '82'
      - '83'
      - '83'
      - '83'
      X-Ratelimit-Remaining:
      - '105517'
      - '2218'
      - '4417'
      - '8717'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Claire Knoll","AddressLine2":"3984","City":"North
        Taya","Region":"Idaho","PostalCode":"WI39 7IN","Country":"RS"},"FirstName":"Anderson","LastName":"Mosciski","Birthday":685299600,"Nationality":"JM","CountryOfResidence":"PH","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"melba@daniellind.info","KYCLevel":"LIGHT","Id":"16234813","Tag":"user
        5","CreationDate":1474391797}'
  recorded_at: Tue, 20 Sep 2016 17:16:38 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234813],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '83'
      - '84'
      - '84'
      - '84'
      X-Ratelimit-Remaining:
      - '105516'
      - '2217'
      - '4416'
      - '8716'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234813"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234814","Tag":null,"CreationDate":1474391798}'
  recorded_at: Tue, 20 Sep 2016 17:16:39 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234813/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234813/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234813/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '86'
      - '87'
      - '87'
      - '87'
      X-Ratelimit-Remaining:
      - '105513'
      - '2214'
      - '4413'
      - '8713'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 17:16:41 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16234813,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '87'
      - '88'
      - '88'
      - '88'
      X-Ratelimit-Remaining:
      - '105512'
      - '2213'
      - '4412'
      - '8712'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234819","Tag":null,"CreationDate":1474391801,"UserId":"16234813","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"kQPPb_p6QpYPvI1-YUyRdL6pwQ9y-RwCcrKu7nEyy2t_s-1RaoGfb-DbeLH0laGHS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 17:16:41 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=kQPPb_p6QpYPvI1-YUyRdL6pwQ9y-RwCcrKu7nEyy2t_s-1RaoGfb-DbeLH0laGHS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=KaTxujupyEIfYe25u7Bc8Du5ZvyMDBFDnBsWl63WxGINhriJ8OGKMrzrgjx2yCpnUls8NhjB4_G70v7cAeiANCTJRykkXlEUDVPNZyjNYNvnD_CLkCUeJyx77LhXHgTx_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Tue, 20 Sep 2016 17:16:42 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/16234819
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=KaTxujupyEIfYe25u7Bc8Du5ZvyMDBFDnBsWl63WxGINhriJ8OGKMrzrgjx2yCpnUls8NhjB4_G70v7cAeiANCTJRykkXlEUDVPNZyjNYNvnD_CLkCUeJyx77LhXHgTx_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234813/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/16234822
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '90'
      - '91'
      - '91'
      - '91'
      X-Ratelimit-Remaining:
      - '105509'
      - '2210'
      - '4409'
      - '8709'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16234813","Id":"16234822","Tag":null,"CreationDate":1474391802}'
  recorded_at: Tue, 20 Sep 2016 17:16:44 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234813,"CreditedUserId":16234813,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16234814","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16234822"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '91'
      - '92'
      - '92'
      - '92'
      X-Ratelimit-Remaining:
      - '105508'
      - '2209'
      - '4408'
      - '8708'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234825","Tag":null,"CreationDate":1474391805,"AuthorId":"16234813","CreditedUserId":"16234813","DebitedFunds":{"Currency":"EUR","Amount":3000},"CreditedFunds":{"Currency":"EUR","Amount":3000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234814","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16234822","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:16:46 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234813,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234817","CreditedWalletId":"16234818"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
