---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CY","Nationality":"SJ","Address":{"AddressLine1":"Jedediah
        Motorway","AddressLine2":"287","PostalCode":"CJ9 9HV","City":"Jacobsbury","Region":"New
        Jersey","Country":"KZ"},"FirstName":"Isom","LastName":"Bechtelar","Birthday":685299600,"Email":"tre.gottlieb@altenwerthwisoky.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '68'
      - '69'
      - '69'
      - '69'
      X-Ratelimit-Remaining:
      - '105531'
      - '2232'
      - '4431'
      - '8731'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Jedediah Motorway","AddressLine2":"287","City":"Jacobsbury","Region":"New
        Jersey","PostalCode":"CJ9 9HV","Country":"KZ"},"FirstName":"Isom","LastName":"Bechtelar","Birthday":685299600,"Nationality":"SJ","CountryOfResidence":"CY","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"tre.gottlieb@altenwerthwisoky.co.uk","KYCLevel":"LIGHT","Id":"16234797","Tag":"user
        5","CreationDate":1474391783}'
  recorded_at: Tue, 20 Sep 2016 17:16:24 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234797],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '69'
      - '70'
      - '70'
      - '70'
      X-Ratelimit-Remaining:
      - '105530'
      - '2231'
      - '4430'
      - '8730'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234797"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234798","Tag":null,"CreationDate":1474391784}'
  recorded_at: Tue, 20 Sep 2016 17:16:25 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234797/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234797/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234797/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '72'
      - '73'
      - '73'
      - '73'
      X-Ratelimit-Remaining:
      - '105527'
      - '2228'
      - '4427'
      - '8727'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 17:16:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16234797,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '73'
      - '74'
      - '74'
      - '74'
      X-Ratelimit-Remaining:
      - '105526'
      - '2227'
      - '4426'
      - '8726'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234801","Tag":null,"CreationDate":1474391786,"UserId":"16234797","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ObMObfSdwRfyE4QClGtUc0DvZFCnklquMGTz364XOYzrncEfVIvlYciRDel-xGTiS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 17:16:27 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=ObMObfSdwRfyE4QClGtUc0DvZFCnklquMGTz364XOYzrncEfVIvlYciRDel-xGTiS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=QOHfBI142JBIpqQJOQyJc4gY6GK0NF3Yx4qEDeK9n_c9yoCL2ysVj5XvwqfqINDvU8kXuBN4_SND4Fz83RcV0l-TDBBgI-MeqnHXqH35KNkB3QpY9u3FhO23JTDkxIo6_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Tue, 20 Sep 2016 17:16:28 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/16234801
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=QOHfBI142JBIpqQJOQyJc4gY6GK0NF3Yx4qEDeK9n_c9yoCL2ysVj5XvwqfqINDvU8kXuBN4_SND4Fz83RcV0l-TDBBgI-MeqnHXqH35KNkB3QpY9u3FhO23JTDkxIo6_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234797/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/16234802
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '76'
      - '77'
      - '77'
      - '77'
      X-Ratelimit-Remaining:
      - '105523'
      - '2224'
      - '4423'
      - '8723'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16234797","Id":"16234802","Tag":null,"CreationDate":1474391788}'
  recorded_at: Tue, 20 Sep 2016 17:16:29 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234797,"CreditedUserId":16234797,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16234799","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16234802"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '77'
      - '78'
      - '78'
      - '78'
      X-Ratelimit-Remaining:
      - '105522'
      - '2223'
      - '4422'
      - '8722'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Id":"16234803","Tag":null,"CreationDate":1474391790,"AuthorId":"16234797","CreditedUserId":"16234797","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234799","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16234802","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:16:31 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234797,"DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234799","CreditedWalletId":"16234800"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
