- if (resources.first.is_a?(Teacher))
  = render "teachers", collection_presenter: collection_presenter, teachers: resources
- if(resources.first.is_a?(Advert))
  = render "adverts", collection_presenter: collection_presenter, adverts: resources