%dt.attribute-label Postulation
%dd.attribute-data
  - postulation.admin_fields.each do |field|
    %b= "#{field[0]}:"
    = field[1]
    %br
  = link_to("Update", [:edit, namespace, postulation],class: "button")
