%dt.attribute-label Postulation
%dd.attribute-data
  %b Interview:
  = resources.data.interview_ok
  %br
  %b Avatar:
  = resources.data.avatar_ok
  %br
  %b Genetal Informations:
  = resources.data.gen_informations_ok
  %br
  %b Adverts:
  = resources.data.advert_ok