---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"d0b966620b144d2887aa06b0f4a8b82c","token_type":"Bearer","expires_in":1199}'
  recorded_at: Thu, 25 Aug 2016 06:11:43 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"SN","Nationality":"GY","Address":{"AddressLine1":"Purdy
        Causeway","AddressLine2":"268","PostalCode":"VG17 6RV","City":"Andersonfurt","Region":"Mississippi","Country":"DZ"},"FirstName":"Abagail","LastName":"Beahan","Birthday":683053200,"Email":"elizabeth@graham.name","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '107'
      - '19'
      - '364'
      - '79'
      X-Ratelimit-Remaining:
      - '105236'
      - '2281'
      - '4421'
      - '8693'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Purdy Causeway","AddressLine2":"268","City":"Andersonfurt","Region":"Mississippi","PostalCode":"VG17
        6RV","Country":"DZ"},"FirstName":"Abagail","LastName":"Beahan","Birthday":683053200,"Nationality":"GY","CountryOfResidence":"SN","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"elizabeth@graham.name","KYCLevel":"LIGHT","Id":"15404189","Tag":"user
        5","CreationDate":1472105502}'
  recorded_at: Thu, 25 Aug 2016 06:11:44 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15404189],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '108'
      - '20'
      - '365'
      - '80'
      X-Ratelimit-Remaining:
      - '105235'
      - '2280'
      - '4420'
      - '8692'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15404189"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15404190","Tag":null,"CreationDate":1472105503}'
  recorded_at: Thu, 25 Aug 2016 06:11:44 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404189/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404189/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404189/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '111'
      - '23'
      - '368'
      - '83'
      X-Ratelimit-Remaining:
      - '105232'
      - '2277'
      - '4417'
      - '8689'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 25 Aug 2016 06:11:46 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":15404189,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '112'
      - '24'
      - '369'
      - '84'
      X-Ratelimit-Remaining:
      - '105231'
      - '2276'
      - '4416'
      - '8688'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: '{"Id":"15404193","Tag":null,"CreationDate":1472105505,"UserId":"15404189","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"-3qr8M0QBM0xs1g25H_bHkcDCNeCCf2Um4mN8oyrhLFSCSvEC-wA3g2scTeOWbFkS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Thu, 25 Aug 2016 06:11:47 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=-3qr8M0QBM0xs1g25H_bHkcDCNeCCf2Um4mN8oyrhLFSCSvEC-wA3g2scTeOWbFkS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxUFIlsSJzqURoIGE4fvN-sMYFFetuH2DlqXHCyugdzRajRGoyNYR-nTVHNAniaJKqM7PPpU5-_YWZJAa44cYp6P_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Thu, 25 Aug 2016 06:11:49 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations/15404193
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=5RSy5qslgAQ7I5fkw79Lp9AiG8hKppzWw2uEMVemGxUFIlsSJzqURoIGE4fvN-sMYFFetuH2DlqXHCyugdzRajRGoyNYR-nTVHNAniaJKqM7PPpU5-_YWZJAa44cYp6P_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Clien[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404189/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cards/15404194
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '115'
      - '27'
      - '372'
      - '87'
      X-Ratelimit-Remaining:
      - '105228'
      - '2273'
      - '4413'
      - '8685'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"15404189","Id":"15404194","Tag":null,"CreationDate":1472105508}'
  recorded_at: Thu, 25 Aug 2016 06:11:51 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":15404189,"CreditedUserId":15404189,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"15404190","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"15404194"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '116'
      - '28'
      - '373'
      - '88'
      X-Ratelimit-Remaining:
      - '105227'
      - '2272'
      - '4412'
      - '8684'
      X-Ratelimit-Reset:
      - '1472106360'
      - '1472107260'
      - '1472109060'
      - '1472191800'
    body:
      encoding: UTF-8
      string: '{"Id":"15404195","Tag":null,"CreationDate":1472105510,"AuthorId":"15404189","CreditedUserId":"15404189","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"15404190","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"15404194","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Thu, 25 Aug 2016 06:11:53 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":15404189,"DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"15404190","CreditedWalletId":"15404192"}'
    headers:
      Authorization:
      - Bearer d0b966620b144d2887aa06b0f4a8b82c
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindi[...]
[...]
