---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MA","Nationality":"AU","Address":{"AddressLine1":"Alberta
        Shoal","AddressLine2":"0231","PostalCode":"BP70 8IL","City":"Dickensburgh","Region":"Iowa","Country":"KE"},"FirstName":"Rafael","LastName":"Buckridge","Birthday":685299600,"Email":"dulce_kulas@nitzsche.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '137'
      - '138'
      - '138'
      - '138'
      X-Ratelimit-Remaining:
      - '105462'
      - '2163'
      - '4362'
      - '8662'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Alberta Shoal","AddressLine2":"0231","City":"Dickensburgh","Region":"Iowa","PostalCode":"BP70
        8IL","Country":"KE"},"FirstName":"Rafael","LastName":"Buckridge","Birthday":685299600,"Nationality":"AU","CountryOfResidence":"MA","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"dulce_kulas@nitzsche.us","KYCLevel":"LIGHT","Id":"16234876","Tag":"user
        5","CreationDate":1474391851}'
  recorded_at: Tue, 20 Sep 2016 17:17:34 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234876],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '138'
      - '139'
      - '139'
      - '139'
      X-Ratelimit-Remaining:
      - '105461'
      - '2162'
      - '4361'
      - '8661'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234876"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234877","Tag":null,"CreationDate":1474391854}'
  recorded_at: Tue, 20 Sep 2016 17:17:34 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234876/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234876/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234876/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '141'
      - '142'
      - '142'
      - '142'
      X-Ratelimit-Remaining:
      - '105458'
      - '2159'
      - '4358'
      - '8658'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["16234876"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234877","Tag":null,"CreationDate":1474391854},{"Description":"wallet
        bonus 5","Owners":["16234876"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234878","Tag":"Bonus","CreationDate":1474391855},{"Description":"wallet
        transfert 5","Owners":["16234876"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234879","Tag":"Transfert","CreationDate":1474391855}]'
  recorded_at: Tue, 20 Sep 2016 17:17:36 GMT
recorded_with: VCR 3.0.3
