---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ab83e100e740488e805357e04e142b0d","token_type":"Bearer","expires_in":1199}'
  recorded_at: Mon, 15 Aug 2016 17:14:18 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"LU","Nationality":"NR","Address":{"AddressLine1":"Wisozk
        Corner","AddressLine2":"8218","PostalCode":"TM89 6SR","City":"West Jaronberg","Region":"Iowa","Country":"CZ"},"FirstName":"Jany","LastName":"Zulauf","Birthday":682189200,"Email":"lyda@kihngrimes.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer ab83e100e740488e805357e04e142b0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Wisozk Corner","AddressLine2":"8218","City":"West
        Jaronberg","Region":"Iowa","PostalCode":"TM89 6SR","Country":"CZ"},"FirstName":"Jany","LastName":"Zulauf","Birthday":682189200,"Nationality":"NR","CountryOfResidence":"LU","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"lyda@kihngrimes.us","KYCLevel":"LIGHT","Id":"15217967","Tag":"user
        5","CreationDate":1471281257}'
  recorded_at: Mon, 15 Aug 2016 17:14:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15217967],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer ab83e100e740488e805357e04e142b0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15217967"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15217968","Tag":null,"CreationDate":1471281258}'
  recorded_at: Mon, 15 Aug 2016 17:14:19 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15217967/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer ab83e100e740488e805357e04e142b0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15217967/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15217967/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["15217967"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15217968","Tag":null,"CreationDate":1471281258},{"Description":"wallet
        bonus 5","Owners":["15217967"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15217969","Tag":"Bonus","CreationDate":1471281259},{"Description":"wallet
        transfert 5","Owners":["15217967"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15217970","Tag":"Transfert","CreationDate":1471281259}]'
  recorded_at: Mon, 15 Aug 2016 17:14:22 GMT
recorded_with: VCR 3.0.3
