---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"7fc50a63ca1747f788143ebcb68af6c1","token_type":"Bearer","expires_in":1199}'
  recorded_at: Thu, 25 Aug 2016 05:11:06 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"HT","Nationality":"SX","Address":{"AddressLine1":"Stoltenberg
        Points","AddressLine2":"171","PostalCode":"EF45 3YY","City":"Fletcherville","Region":"West
        Virginia","Country":"KG"},"FirstName":"Alec","LastName":"Langosh","Birthday":683053200,"Email":"sarai@walsh.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 7fc50a63ca1747f788143ebcb68af6c1
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1'
      - '14'
      - '251'
      - '89'
      X-Ratelimit-Remaining:
      - '105349'
      - '2299'
      - '4486'
      - '8711'
      X-Ratelimit-Reset:
      - '1472102760'
      - '1472103660'
      - '1472105460'
      - '1472188200'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Stoltenberg Points","AddressLine2":"171","City":"Fletcherville","Region":"West
        Virginia","PostalCode":"EF45 3YY","Country":"KG"},"FirstName":"Alec","LastName":"Langosh","Birthday":683053200,"Nationality":"SX","CountryOfResidence":"HT","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"sarai@walsh.us","KYCLevel":"LIGHT","Id":"15403581","Tag":"user
        5","CreationDate":1472101865}'
  recorded_at: Thu, 25 Aug 2016 05:11:07 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15403581],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 7fc50a63ca1747f788143ebcb68af6c1
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '15'
      - '2'
      - '252'
      - '90'
      X-Ratelimit-Remaining:
      - '105348'
      - '2298'
      - '4485'
      - '8710'
      X-Ratelimit-Reset:
      - '1472102760'
      - '1472103660'
      - '1472105460'
      - '1472188200'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15403581"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15403582","Tag":null,"CreationDate":1472101875}'
  recorded_at: Thu, 25 Aug 2016 05:11:17 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15403581
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 7fc50a63ca1747f788143ebcb68af6c1
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
[...]
