---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MS","Nationality":"KM","Address":{"AddressLine1":"Serena
        Valleys","AddressLine2":"354","PostalCode":"KF09 2DY","City":"Antwonberg","Region":"Nebraska","Country":"EH"},"FirstName":"Luz","LastName":"Ratke","Birthday":685299600,"Email":"elwin.romaguera@gusikowski.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '142'
      - '143'
      - '143'
      - '143'
      X-Ratelimit-Remaining:
      - '105457'
      - '2158'
      - '4357'
      - '8657'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Serena Valleys","AddressLine2":"354","City":"Antwonberg","Region":"Nebraska","PostalCode":"KF09
        2DY","Country":"EH"},"FirstName":"Luz","LastName":"Ratke","Birthday":685299600,"Nationality":"KM","CountryOfResidence":"MS","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"elwin.romaguera@gusikowski.co.uk","KYCLevel":"LIGHT","Id":"16234880","Tag":"user
        5","CreationDate":1474391857}'
  recorded_at: Tue, 20 Sep 2016 17:17:38 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234880],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '143'
      - '144'
      - '144'
      - '144'
      X-Ratelimit-Remaining:
      - '105456'
      - '2157'
      - '4356'
      - '8656'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234880"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234881","Tag":null,"CreationDate":1474391858}'
  recorded_at: Tue, 20 Sep 2016 17:17:38 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234880
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
[...]
