---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"fbfe27497cb14125aeaec79f01d5b2f5","token_type":"Bearer","expires_in":1199}'
  recorded_at: Thu, 25 Aug 2016 06:01:11 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"AT","Nationality":"GF","Address":{"AddressLine1":"Zane
        Hill","AddressLine2":"347","PostalCode":"OC8 0SF","City":"Kaiatown","Region":"Alabama","Country":"UM"},"FirstName":"Brycen","LastName":"Thompson","Birthday":683053200,"Email":"tod@schneider.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '346'
      - '61'
      - '87'
      - '96'
      X-Ratelimit-Remaining:
      - '105254'
      - '2239'
      - '4413'
      - '8704'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Zane Hill","AddressLine2":"347","City":"Kaiatown","Region":"Alabama","PostalCode":"OC8
        0SF","Country":"UM"},"FirstName":"Brycen","LastName":"Thompson","Birthday":683053200,"Nationality":"GF","CountryOfResidence":"AT","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"tod@schneider.co.uk","KYCLevel":"LIGHT","Id":"15404073","Tag":"user
        5","CreationDate":1472104870}'
  recorded_at: Thu, 25 Aug 2016 06:01:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15404073],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '347'
      - '62'
      - '88'
      - '97'
      X-Ratelimit-Remaining:
      - '105253'
      - '2238'
      - '4412'
      - '8703'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15404073"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15404074","Tag":null,"CreationDate":1472104871}'
  recorded_at: Thu, 25 Aug 2016 06:01:12 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '100'
      - '350'
      - '65'
      - '91'
      X-Ratelimit-Remaining:
      - '105250'
      - '2235'
      - '4409'
      - '8700'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 25 Aug 2016 06:01:15 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":15404073,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '101'
      - '351'
      - '66'
      - '92'
      X-Ratelimit-Remaining:
      - '105249'
      - '2234'
      - '4408'
      - '8699'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"Id":"15404083","Tag":null,"CreationDate":1472104874,"UserId":"15404073","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"Qi7oou23Q8d9B3xUpjdMuUwTagQSH7R5lzoezGsHxKIT-xMcpbKNGni6olPDu4hwS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Thu, 25 Aug 2016 06:01:15 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=Qi7oou23Q8d9B3xUpjdMuUwTagQSH7R5lzoezGsHxKIT-xMcpbKNGni6olPDu4hwS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=WlFlNrFOZLxXvGO11QriK80CG2MMBETZKVkXSReUqQBYfUyVq7LhuXebbi-E90eXWi3edBLVu5AkAwupwgkboP_fPI_IklY_GJsNHEehoAum9S9pnv8mNO3rmf2kpUAB_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Thu, 25 Aug 2016 06:01:16 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations/15404083
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=WlFlNrFOZLxXvGO11QriK80CG2MMBETZKVkXSReUqQBYfUyVq7LhuXebbi-E90eXWi3edBLVu5AkAwupwgkboP_fPI_IklY_GJsNHEehoAum9S9pnv8mNO3rmf2kpUAB_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Clien[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cards/15404084
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '104'
      - '354'
      - '69'
      - '95'
      X-Ratelimit-Remaining:
      - '105246'
      - '2231'
      - '4405'
      - '8696'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"15404073","Id":"15404084","Tag":null,"CreationDate":1472104876}'
  recorded_at: Thu, 25 Aug 2016 06:01:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":15404073,"CreditedUserId":15404073,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"15404074","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"15404084"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '105'
      - '355'
      - '70'
      - '96'
      X-Ratelimit-Remaining:
      - '105245'
      - '2230'
      - '4404'
      - '8695'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"Id":"15404089","Tag":null,"CreationDate":1472104879,"AuthorId":"15404073","CreditedUserId":"15404073","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"15404074","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"15404084","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Thu, 25 Aug 2016 06:01:22 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15404073
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/bankaccounts/iban
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Gia Maggio","OwnerAddress":{"AddressLine1":"Zane Hill","AddressLine2":"347","City":"Kaiatown","Region":"Alabama","PostalCode":"OC8
        0SF","Country":"UM"},"Type":"iban","IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '108'
      - '358'
      - '73'
      - '99'
      X-Ratelimit-Remaining:
      - '105242'
      - '2227'
      - '4401'
      - '8692'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Zane Hill","AddressLine2":"347","City":"Kaiatown","Region":"Alabama","PostalCode":"OC8
        0SF","Country":"UM"},"IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP","UserId":"15404073","OwnerName":"Gia
        Maggio","Type":"IBAN","Id":"15404099","Tag":null,"CreationDate":1472104885,"Active":true}'
  recorded_at: Thu, 25 Aug 2016 06:01:26 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15404073/bankaccounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-gen[...]
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":15404073,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"15404074","CreditedWalletId":"15404080"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindi[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payouts/bankwire
    body:
      encoding: UTF-8
      string: '{"AuthorId":15404073,"DebitedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"15404080","BankAccountId":"15404099"}'
    headers:
      Authorization:
      - Bearer fbfe27497cb14125aeaec79f01d5b2f5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '112'
      - '362'
      - '77'
      X-Ratelimit-Remaining:
      - '105238'
      - '2223'
      - '4397'
      - '8688'
      X-Ratelimit-Reset:
      - '1472105760'
      - '1472106660'
      - '1472108460'
      - '1472191200'
    body:
      encoding: UTF-8
      string: '{"Id":"15404102","Tag":null,"CreationDate":1472104889,"AuthorId":"15404073","CreditedUserId":null,"DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYOUT","Nature":"REGULAR","CreditedWalletId":null,"DebitedWalletId":"15404080","PaymentType":"BANK_WIRE","BankAccountId":"15404099","BankWireRef":null}'
  recorded_at: Thu, 25 Aug 2016 06:01:30 GMT
[...]
