---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CI","Nationality":"JM","Address":{"AddressLine1":"Matt
        Bridge","AddressLine2":"8753","PostalCode":"PQ52 4WN","City":"West Lowellfurt","Region":"Washington","Country":"BE"},"FirstName":"Meggie","LastName":"O''Reilly","Birthday":685299600,"Email":"mya.gutkowski@schamberger.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '119'
      - '120'
      - '120'
      - '120'
      X-Ratelimit-Remaining:
      - '105480'
      - '2181'
      - '4380'
      - '8680'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Matt Bridge","AddressLine2":"8753","City":"West
        Lowellfurt","Region":"Washington","PostalCode":"PQ52 4WN","Country":"BE"},"FirstName":"Meggie","LastName":"O''Reilly","Birthday":685299600,"Nationality":"JM","CountryOfResidence":"CI","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"mya.gutkowski@schamberger.co.uk","KYCLevel":"LIGHT","Id":"16234861","Tag":"user
        5","CreationDate":1474391832}'
  recorded_at: Tue, 20 Sep 2016 17:17:13 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234861],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '120'
      - '121'
      - '121'
      - '121'
      X-Ratelimit-Remaining:
      - '105479'
      - '2180'
      - '4379'
      - '8679'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234861"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234862","Tag":null,"CreationDate":1474391833}'
  recorded_at: Tue, 20 Sep 2016 17:17:14 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '123'
      - '124'
      - '124'
      - '124'
      X-Ratelimit-Remaining:
      - '105476'
      - '2177'
      - '4376'
      - '8676'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Sep 2016 17:17:15 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":16234861,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '124'
      - '125'
      - '125'
      - '125'
      X-Ratelimit-Remaining:
      - '105475'
      - '2176'
      - '4375'
      - '8675'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Id":"16234865","Tag":null,"CreationDate":1474391835,"UserId":"16234861","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"kQPPb_p6QpYPvI1-YUyRdF79QipN00AHx5yDh67bdM1GD7X74CDzrpTqy0Alq4oGS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Sep 2016 17:17:16 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1016&cardCvx=131&data=kQPPb_p6QpYPvI1-YUyRdF79QipN00AHx5yDh67bdM1GD7X74CDzrpTqy0Alq4oGS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=QOHfBI142JBIpqQJOQyJc925rqTl7L-0eS4Nn_72prG9PLPIakZ6B66bFmnDS0MRG1Nfzt0fa0aIlLQ1EbeIO-1cXu_obYzyVBivyknklLs4gxYRftiQUtdo2My5sPxA_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Tue, 20 Sep 2016 17:17:17 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/16234865
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=QOHfBI142JBIpqQJOQyJc925rqTl7L-0eS4Nn_72prG9PLPIakZ6B66bFmnDS0MRG1Nfzt0fa0aIlLQ1EbeIO-1cXu_obYzyVBivyknklLs4gxYRftiQUtdo2My5sPxA_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/16234866
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '127'
      - '128'
      - '128'
      - '128'
      X-Ratelimit-Remaining:
      - '105472'
      - '2173'
      - '4372'
      - '8672'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1016","Alias":"470675XXXXXX0017","CardType":"CB_VISA_MASTERCARD","CardProvider":"VISA","Country":"RUS","Product":"G","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"16234861","Id":"16234866","Tag":null,"CreationDate":1474391837}'
  recorded_at: Tue, 20 Sep 2016 17:17:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234861,"CreditedUserId":16234861,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"16234862","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"16234866"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '128'
      - '129'
      - '129'
      - '129'
      X-Ratelimit-Remaining:
      - '105471'
      - '2172'
      - '4371'
      - '8671'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Id":"16234867","Tag":null,"CreationDate":1474391839,"AuthorId":"16234861","CreditedUserId":"16234861","DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"101302","ResultMessage":"Secure
        mode: The card is not enrolled with 3DSecure","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234862","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"16234866","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:17:21 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234861
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/bankaccounts/iban
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Waylon Miller","OwnerAddress":{"AddressLine1":"Matt Bridge","AddressLine2":"8753","City":"West
        Lowellfurt","Region":"Washington","PostalCode":"PQ52 4WN","Country":"BE"},"Type":"iban","IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '131'
      - '132'
      - '132'
      - '132'
      X-Ratelimit-Remaining:
      - '105468'
      - '2169'
      - '4368'
      - '8668'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Matt Bridge","AddressLine2":"8753","City":"West
        Lowellfurt","Region":"Washington","PostalCode":"PQ52 4WN","Country":"BE"},"IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP","UserId":"16234861","OwnerName":"Waylon
        Miller","Type":"IBAN","Id":"16234871","Tag":null,"CreationDate":1474391844,"Active":true}'
  recorded_at: Tue, 20 Sep 2016 17:17:25 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234861/bankaccounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-gener[...]
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234861,"DebitedFunds":{"Currency":"EUR","Amount":8000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234862","CreditedWalletId":"16234864"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payouts/bankwire
    body:
      encoding: UTF-8
      string: '{"AuthorId":16234861,"DebitedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"16234864","BankAccountId":"16234871"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '135'
      - '136'
      - '136'
      - '136'
      X-Ratelimit-Remaining:
      - '105464'
      - '2165'
      - '4364'
      - '8664'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Id":"16234874","Tag":null,"CreationDate":1474391849,"AuthorId":"16234861","CreditedUserId":null,"DebitedFunds":{"Currency":"EUR","Amount":8000},"CreditedFunds":{"Currency":"EUR","Amount":8000},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYOUT","Nature":"REGULAR","CreditedWalletId":null,"DebitedWalletId":"16234864","PaymentType":"BANK_WIRE","BankAccountId":"16234871","BankWireRef":null}'
  recorded_at: Tue, 20 Sep 2016 17:17:30 GMT
[...]
