= @subject
\===============================================

Vous avez reçu #{@number} messages! Connectez-vous pour les lire.

\-----------------------------------------------
\-----------------------------------------------

Visit #{root_url} and go to your inbox for more info.
