.inbox-head
  %h3 #{mailbox_type.humanize}
  %form.pull-right.position{:action => "#"}
    .input-append
      %input.sr-input{:placeholder => "Search Mail", :type => "text"}
        %button.btn.sr-btn{:type => "button"}
          %i.fa.fa-search