%ul.inbox-nav.inbox-divider
  %li.active
    %a{:href => "#"}
      %i.fa.fa-inbox
      Inbox
      %span.label.label-danger.pull-right 2
  %li
    %a{:href => "#"}
      %i.fa.fa-envelope-o
      Sentbox
  %li
    %a{:href => "#"}
      %i.fa.fa-trash-o
      Trash