.inbox-body
  .mail-option
    .chk-all
      %input.mail-checkbox.mail-group-checkbox{:type => "checkbox"}
        .btn-group
          %a.btn.mini.all{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
            All
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              %a{:href => "#"} None
            %li
              %a{:href => "#"} Read
            %li
              %a{:href => "#"} Unread
    .btn-group
      %a.btn.mini.tooltips{:href => "#"}
        %i.fa.fa-refresh
    .btn-group.hidden-phone
      %a.btn.mini.blue{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
        Action
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.fa.fa-pencil
            Mark as Read
        %li
          %a{:href => "#"}
            %i.fa.fa-trash-o
            Delete
    %ul.unstyled.inbox-pagination
      %li
        %span 1-#{conversations.count} of #{conversations.total_count}
      %li
        = link_to_previous_page conversations, 'prev', :class=>"np-btn"
      %li
        = link_to_next_page conversations, 'next', :class=>"np-btn"