%ul.nav.nav-pills.nav-stacked.labels-info
  %li
    %h4 Buddy online
  %li
    %a{:href => "#"}
      %i.fa.fa-circle.text-success>
      Alireza Zare
      %p I do not think
  %li
    %a{:href => "#"}
      %i.fa.fa-circle.text-danger>
      Dark Coders
      %p Busy with coding
  %li
    %a{:href => "#"}
      %i.fa.fa-circle.text-muted>
      Mentaalist
      %p I out of control
  %li
    %a{:href => "#"}
      %i.fa.fa-circle.text-muted>
      H3s4m
      %p I am not here
  %li
    %a{:href => "#"}
      %i.fa.fa-circle.text-muted>
      Dead man
      %p I do not think