%h3.text-center.text-green
  Vous n'avez pas encore envoyé ni reçu de messages!
  %hr
  %p.text-center.text-grey
    Pour contacter un utilisateur pour la première fois, rendez-vous sur son profil.
    %br
    Entammez quelques conversations, puis revenez ici pour lire vos nouveaux messages.