= render partial: 'conversation', locals: {conversation: @conversation}
:javascript
  $('#chatbox_#{@conversation.id} .chatboxinput').click(function () {
    $.ajax({
      url: "/seen",
      data: {conversation_id: "#{@conversation.id}"},
      method: 'post'
    });
  });
:javascript
  var chatbox = $("#chatbox_#{@conversation.id} .chatboxcontent");
  chatbox.scrollTop(chatbox[0].scrollHeight);
