%div.col-sm-6.col-md-4
  -if @user.postulance_accepted
    %h5 Vous êtes un prof approuvé!
  -else
    %h5 Etat de votre postulation:
    %dl.dl-horizontal
      -@user.postulation.dashboard_fields.each do |field|
        %dt #{field[0].to_s.humanize}:
        %dd= field[1] ? 'OK':'X'