---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"TG","Nationality":"MS","Address":{"AddressLine1":"Carroll
        Divide","AddressLine2":"382","PostalCode":"GT8 2IY","City":"Rennerport","Region":"Arizona","Country":"FI"},"FirstName":"Amara","LastName":"Ondricka","Birthday":685299600,"Email":"orville@quigleycorwin.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '108'
      - '109'
      - '109'
      - '109'
      X-Ratelimit-Remaining:
      - '105491'
      - '2192'
      - '4391'
      - '8691'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Carroll Divide","AddressLine2":"382","City":"Rennerport","Region":"Arizona","PostalCode":"GT8
        2IY","Country":"FI"},"FirstName":"Amara","LastName":"Ondricka","Birthday":685299600,"Nationality":"MS","CountryOfResidence":"TG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"orville@quigleycorwin.com","KYCLevel":"LIGHT","Id":"16234853","Tag":"user
        5","CreationDate":1474391824}'
  recorded_at: Tue, 20 Sep 2016 17:17:05 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234853],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '109'
      - '110'
      - '110'
      - '110'
      X-Ratelimit-Remaining:
      - '105490'
      - '2191'
      - '4390'
      - '8690'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234853"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234854","Tag":null,"CreationDate":1474391825}'
  recorded_at: Tue, 20 Sep 2016 17:17:05 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234853/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234853/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234853/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '112'
      - '113'
      - '113'
      - '113'
      X-Ratelimit-Remaining:
      - '105487'
      - '2188'
      - '4387'
      - '8687'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["16234853"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234854","Tag":null,"CreationDate":1474391825},{"Description":"wallet
        bonus 5","Owners":["16234853"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234855","Tag":"Bonus","CreationDate":1474391825},{"Description":"wallet
        transfert 5","Owners":["16234853"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234856","Tag":"Transfert","CreationDate":1474391826}]'
  recorded_at: Tue, 20 Sep 2016 17:17:07 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"16234853","DebitedFunds":{"Currency":"EUR","Amount":-5000.0},"Fees":{"Currency":"EUR","Amount":300.0},"CreditedWalletId":"16234854","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"CreditedFund can''t be negative","Type":"credited_fund_cannot_be_negative","Id":"4aeae60a-dbec-40b5-8ef8-152e89c95f44#1474391827","Date":1474391828.0,"errors":null}'
  recorded_at: Tue, 20 Sep 2016 17:17:08 GMT
recorded_with: VCR 3.0.3
