---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"SD","Nationality":"NC","Address":{"AddressLine1":"Idell
        Spring","AddressLine2":"9590","PostalCode":"IR8 3PL","City":"South Camille","Region":"Arkansas","Country":"ME"},"FirstName":"Ricky","LastName":"Ward","Birthday":684021600,"Email":"lonzo@bradtkewolff.ca","PersonType":"NATURAL","Tag":"user
        10"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '12'
      - '34'
      - '35'
      - '72'
      X-Ratelimit-Remaining:
      - '105528'
      - '2288'
      - '4466'
      - '8765'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Idell Spring","AddressLine2":"9590","City":"South
        Camille","Region":"Arkansas","PostalCode":"IR8 3PL","Country":"ME"},"FirstName":"Ricky","LastName":"Ward","Birthday":684021600,"Nationality":"NC","CountryOfResidence":"SD","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"lonzo@bradtkewolff.ca","KYCLevel":"LIGHT","Id":"15739930","Tag":"user
        10","CreationDate":1473073645}'
  recorded_at: Mon, 05 Sep 2016 11:07:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15739930],"Currency":"EUR","Description":"wallet user 10"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '13'
      - '35'
      - '36'
      - '73'
      X-Ratelimit-Remaining:
      - '105527'
      - '2287'
      - '4465'
      - '8764'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 10","Owners":["15739930"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739931","Tag":null,"CreationDate":1473073646}'
  recorded_at: Mon, 05 Sep 2016 11:07:26 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739930/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739930/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739930/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '16'
      - '38'
      - '39'
      - '76'
      X-Ratelimit-Remaining:
      - '105524'
      - '2284'
      - '4462'
      - '8761'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 10","Owners":["15739930"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739931","Tag":null,"CreationDate":1473073646},{"Description":"wallet
        bonus 10","Owners":["15739930"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739932","Tag":"Bonus","CreationDate":1473073646},{"Description":"wallet
        transfert 10","Owners":["15739930"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739933","Tag":"Transfert","CreationDate":1473073646}]'
  recorded_at: Mon, 05 Sep 2016 11:07:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"15739930","DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":-300.0},"CreditedWalletId":"15739931","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"One or several required parameters are missing or incorrect.
        An incorrect resource ID also raises this kind of error.","Type":"param_error","Id":"82ba365a-5f26-4365-b3c8-0b4478c5d851#1473073647","Date":1473073649.0,"errors":{"Fees":"The
        value cannot be negative"}}'
  recorded_at: Mon, 05 Sep 2016 11:07:28 GMT
recorded_with: VCR 3.0.3
