---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MV","Nationality":"LS","Address":{"AddressLine1":"Ebert
        Pines","AddressLine2":"52301","PostalCode":"EN9 9JV","City":"Angusberg","Region":"Alaska","Country":"VN"},"FirstName":"Carley","LastName":"Davis","Birthday":684021600,"Email":"desmond_harris@bogan.biz","PersonType":"NATURAL","Tag":"user
        10"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '29'
      - '30'
      - '67'
      - '7'
      X-Ratelimit-Remaining:
      - '105533'
      - '2293'
      - '4471'
      - '8770'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Ebert Pines","AddressLine2":"52301","City":"Angusberg","Region":"Alaska","PostalCode":"EN9
        9JV","Country":"VN"},"FirstName":"Carley","LastName":"Davis","Birthday":684021600,"Nationality":"LS","CountryOfResidence":"MV","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"desmond_harris@bogan.biz","KYCLevel":"LIGHT","Id":"15739926","Tag":"user
        10","CreationDate":1473073642}'
  recorded_at: Mon, 05 Sep 2016 11:07:22 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15739926],"Currency":"EUR","Description":"wallet user 10"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '30'
      - '31'
      - '68'
      - '8'
      X-Ratelimit-Remaining:
      - '105532'
      - '2292'
      - '4470'
      - '8769'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 10","Owners":["15739926"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739927","Tag":null,"CreationDate":1473073643}'
  recorded_at: Mon, 05 Sep 2016 11:07:23 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739926/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739926/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/15739926/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '11'
      - '33'
      - '34'
      - '71'
      X-Ratelimit-Remaining:
      - '105529'
      - '2289'
      - '4467'
      - '8766'
      X-Ratelimit-Reset:
      - '1473074520'
      - '1473075420'
      - '1473077220'
      - '1473159960'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 10","Owners":["15739926"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739927","Tag":null,"CreationDate":1473073643},{"Description":"wallet
        bonus 10","Owners":["15739926"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739928","Tag":"Bonus","CreationDate":1473073643},{"Description":"wallet
        transfert 10","Owners":["15739926"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15739929","Tag":"Transfert","CreationDate":1473073644}]'
  recorded_at: Mon, 05 Sep 2016 11:07:24 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"15739926","DebitedFunds":{"Currency":"EUR","Amount":-5000.0},"Fees":{"Currency":"EUR","Amount":300.0},"CreditedWalletId":"15739927","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - Bearer e03cecd91b8d4d9aaf76a5a71b7c288f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.3 p173 (2015-08-18)","platform":"x86_64-darwin14","uname":"Darwin
        Aurelies.local 14.5.0 Darwin Kernel Version 14.5.0: Thu Jun 16 19:58:21 PDT
        2016; root:xnu-2782.50.4~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"CreditedFund can''t be negative","Type":"credited_fund_cannot_be_negative","Id":"60612610-e87e-4fa4-96db-0265870e4d35#1473073645","Date":1473073646.0,"errors":null}'
  recorded_at: Mon, 05 Sep 2016 11:07:25 GMT
recorded_with: VCR 3.0.3
