---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"1d4065a4d91644778ddff9400d2ecb39","token_type":"Bearer","expires_in":1199}'
  recorded_at: Tue, 16 Aug 2016 13:25:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GW","Nationality":"MH","Address":{"AddressLine1":"Nestor
        Hill","AddressLine2":"76384","PostalCode":"HB42 0DC","City":"Camrynbury","Region":"West
        Virginia","Country":"GH"},"FirstName":"Dillon","LastName":"Kling","Birthday":682275600,"Email":"raphaelle@effertz.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 1d4065a4d91644778ddff9400d2ecb39
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Nestor Hill","AddressLine2":"76384","City":"Camrynbury","Region":"West
        Virginia","PostalCode":"HB42 0DC","Country":"GH"},"FirstName":"Dillon","LastName":"Kling","Birthday":682275600,"Nationality":"MH","CountryOfResidence":"GW","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"raphaelle@effertz.com","KYCLevel":"LIGHT","Id":"15232123","Tag":"user
        5","CreationDate":1471353957}'
  recorded_at: Tue, 16 Aug 2016 13:26:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15232123],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 1d4065a4d91644778ddff9400d2ecb39
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15232123"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15232127","Tag":null,"CreationDate":1471353959}'
  recorded_at: Tue, 16 Aug 2016 13:26:01 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15232123/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 1d4065a4d91644778ddff9400d2ecb39
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15232123/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15232123/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["15232123"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15232127","Tag":null,"CreationDate":1471353959},{"Description":"wallet
        bonus 5","Owners":["15232123"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15232132","Tag":"Bonus","CreationDate":1471353960},{"Description":"wallet
        transfert 5","Owners":["15232123"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15232133","Tag":"Transfert","CreationDate":1471353961}]'
  recorded_at: Tue, 16 Aug 2016 13:26:03 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"15232123","DebitedFunds":{"Currency":"EUR","Amount":5000},"Fees":{"Currency":"EUR","Amount":300},"CreditedWalletId":"15232127","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - Bearer 1d4065a4d91644778ddff9400d2ecb39
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"15232136","Tag":null,"CreationDate":1471353963,"AuthorId":"15232123","CreditedUserId":"15232123","DebitedFunds":{"Currency":"EUR","Amount":5000},"CreditedFunds":{"Currency":"EUR","Amount":4700},"Fees":{"Currency":"EUR","Amount":300},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"15232127","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=2fJezFvQVWdCmoixm8931471353965399","ReturnURL":"http://test.com/?transactionId=15232136","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=1dc38ee89e3e4d14&transactionId=15232136","CardType":"BCMC","Culture":"FR","SecureMode":"FORCE","StatementDescriptor":null}'
  recorded_at: Tue, 16 Aug 2016 13:26:05 GMT
recorded_with: VCR 3.0.3
