---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"FO","Nationality":"KN","Address":{"AddressLine1":"Grimes
        Heights","AddressLine2":"54787","PostalCode":"TL0 6ZD","City":"Shayneview","Region":"Idaho","Country":"TJ"},"FirstName":"Ethan","LastName":"Koepp","Birthday":685299600,"Email":"berta@tillman.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '102'
      - '103'
      - '103'
      - '103'
      X-Ratelimit-Remaining:
      - '105497'
      - '2198'
      - '4397'
      - '8697'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Grimes Heights","AddressLine2":"54787","City":"Shayneview","Region":"Idaho","PostalCode":"TL0
        6ZD","Country":"TJ"},"FirstName":"Ethan","LastName":"Koepp","Birthday":685299600,"Nationality":"KN","CountryOfResidence":"FO","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"berta@tillman.com","KYCLevel":"LIGHT","Id":"16234847","Tag":"user
        5","CreationDate":1474391818}'
  recorded_at: Tue, 20 Sep 2016 17:17:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234847],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '104'
      - '104'
      - '104'
      X-Ratelimit-Remaining:
      - '105496'
      - '2197'
      - '4396'
      - '8696'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234847"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234848","Tag":null,"CreationDate":1474391820}'
  recorded_at: Tue, 20 Sep 2016 17:17:00 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234847/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234847/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234847/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '106'
      - '107'
      - '107'
      - '107'
      X-Ratelimit-Remaining:
      - '105493'
      - '2194'
      - '4393'
      - '8693'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["16234847"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234848","Tag":null,"CreationDate":1474391820},{"Description":"wallet
        bonus 5","Owners":["16234847"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234849","Tag":"Bonus","CreationDate":1474391820},{"Description":"wallet
        transfert 5","Owners":["16234847"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234850","Tag":"Transfert","CreationDate":1474391821}]'
  recorded_at: Tue, 20 Sep 2016 17:17:02 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"16234847","DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":300.0},"CreditedWalletId":"16234848","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '107'
      - '108'
      - '108'
      - '108'
      X-Ratelimit-Remaining:
      - '105492'
      - '2193'
      - '4392'
      - '8692'
      X-Ratelimit-Reset:
      - '1474392720'
      - '1474393620'
      - '1474395420'
      - '1474478160'
    body:
      encoding: UTF-8
      string: '{"Id":"16234851","Tag":null,"CreationDate":1474391823,"AuthorId":"16234847","CreditedUserId":"16234847","DebitedFunds":{"Currency":"EUR","Amount":5000},"CreditedFunds":{"Currency":"EUR","Amount":4700},"Fees":{"Currency":"EUR","Amount":300},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"16234848","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=2bs3D3Lz9zuQ4Onp01011474391823836","ReturnURL":"http://test.com/?transactionId=16234851","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=9943ec62d75d4549&transactionId=16234851","CardType":"BCMC","Culture":"FR","SecureMode":"FORCE","StatementDescriptor":null}'
  recorded_at: Tue, 20 Sep 2016 17:17:04 GMT
recorded_with: VCR 3.0.3
