.featurette.section_commentmarche.100window
  #ccm_guitar.col-md-6
    %h3 Mode d'emploi
    = image_tag("guitare.png", :class => "img_love img-responsive", id: 'img-guitar')
  #ccm-points.col-md-6
    %div.point1.point
      %span 1.
      %h4 Choisissez votre professeur. 
    %div.point2.point
      %span 2.
      %h4 Fixez un rendez-vous.
    %div.point3.point
      %span 3.
      %h4 Recevez votre cours en ligne.
    = link_to "Plus d'informations", pages_path('comment-ca-marche'), class: 'btn btn-qw btn-pink', id: 'guitar-more-info'
  %span.quit.toggleCCM
    =image_tag('acceuil/close.png')