.container-fluid
  .section_tri_colonne.row
    .col-sm-6.col-md-4.colonne1.thumbnails
      .caption
        = image_tag("acceuil/diplome.png", :class => "image_presse img-responsive")
        %h4 Des professeurs de qualités
        %hr
        %p
        %h5 La communauté Qwerteach offre un large choix de professeurs motivés et compétents. Tous nos professeurs sont interviewés individuellement, évalués puis validés par notre équipe.
        %a{:href => ""} Plus d'info
    .col-sm-6.col-md-4.colonne2.thumbnails
      .caption
        = image_tag("acceuil/horloge.png", :class => "image_presse img-responsive")
        %h4 Vous travaillez à votre rythme
        %hr
        %p
        %h5 Opter pour des cours en ligne permet de module plus aisément les heures de cours, de s'adapter ç l'emloi du temps de l'élève et de respecter son rythme de travail.
        %a{:href => ""} Plus d'info
    .col-sm-6.col-md-4.colonne3.thumbnails
      .caption
        = image_tag("acceuil/K7.png", :class => "image_presse img-responsive")
        %h4 Vos cours sont enregistrés
        %hr
        %p
        %h5 Afin de favoriser la concentration sur les explications du professeur plutôt que sur la prise de note, chaque leçon est enregistrée et accesisslbe par la suite
        %a{:href => ""} Plus d'info