.alert.alert-dismissible{:role => "alert", :class => "alert-#{type} alert"}
  %button.close{"aria-label" => "Close", :type => "button"}
    %span{"aria-hidden" => "true"}
      =image_tag 'close.png'
  #{content.html_safe}

// types: info, error, warning, success