%div{:class => "section_bigimage", "data-vide-bg" => "mp4: #{video_path('videos/accueil/bigimage.mp4')} , webm: #{video_path('videos/accueil/bigimage.webm')} , poster: #{image_path('acceuil/bigimage.jpg')}", "data-vide-options" => "posterType: jpg, loop: ture, muted: true, position: 50% 50%"}
    %div{:class => "title"}
        %h1 Le bon prof au bon moment
        %h2 Passez au soutien scolaire à la demande.
    %div{:class => "mode_emploi"}
        %a.open_mode_emploi Mode d'emploi
    