.row.featurette.section-choix
  .col-md-5
    %h4
      %b Choisissez le professeur qui vous convient.
    %button.btn-info.btn-lg{:type => "button"} Toute les matières
  .col-md-2
    = image_tag("test3.png", :class => "img_guitare img-responsive")