.row.featurette.section-commentmarche
  .col-md-7
    = image_tag("test3.png", :class => "img_love img-responsive")
  .col-md-5
    %h4 Choisissez votre professeur.
    %h6 Découvrez des experts aux compétences diverses et aux parcours uniques, à votre disposition?
    %a{:href => "#entete"} Trouver un prof
    %h4 Fixer un rendez-vous
    %h6 Communiquez avec votre prof sur vos besoins spécifiques et validez le tarif du cours.
    %h4 Recevez votre cours en ligne
    %h6 Aprendez à votre rythme en partageant vos docuements dans la classe virtuelles.
    %p
    Qu'est ce que
    %a{:href => "http://classevirtuelle.qwerteach.com/client/BigBlueButton.html"} la classe virtuelle?