%div{:class => "section-bigimage"}
    %div{:class => "title"}
        %h1 Le bon prof au bon moment
        %h2 Passez au soutien scolaire à la demande.
    %div{:class => "mode-emploi"}
        %a{"data-target" => "#myModCo", "data-toggle" => "modal"} Mode d'emploi
    