.row.section-recherche
  %p
    = form_tag users_path, :method => :get do
      = select("post", "topic_group_id", TopicGroup.all.collect {|p| [ p.title, p.topic_group_id] },{:class => 'form-control'})
      = submit_tag "Search", :name => nil
  %p
    %a{"data-target" => "#myModCo", "data-toggle" => "modal"} Mode d'emploi