.featurette.section_commentmarche
  .col-md-6.left
    %h3 Mode d'emploi
    = image_tag("guitare.png", :class => "img_love img-responsive")
  .col-md-6
    %div.point1.point
      %span 1.
      %h4 Choisissez votre professeur. 
    %div.point2.point
      %span 2.
      %h4 Fixez un rendez-vous.
    %div.point3.point
      %span 3.
      %h4 Recevez votre cours en ligne.
    %a.boutton.plus_infos.opacity_hover{:href => "#"} Plus d'inforamtions
  %span.quit#quit_mode_emploi ✖