#contact
    .row
        .col-md-8.left
            %iframe{ :src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.0363837575096!2d4.350058715575078!3d50.81196457952682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c456057e8cb5%3A0xebcb97cf51275c26!2sAvenue+Winston+Churchill+67%2C+1180+Uccle!5e0!3m2!1sfr!2sbe!4v1477472184606", :frameborder=> "0"}
        .col-md-4.right
            %p
                %span.title Adress
                %span : 67 Av. Winston Churchill, 1180 Bruxelles, Belgique
            %p
                %span.title Phone
                %span : +32 2 345 48 37
            %p  
                %span.title Email
                %span : hello@qwerteach.com
            %form
                %input{:type => "text", :name => "nom", :placeholder => "Nom"}
                %input{:type => "email", :name => "email", :placeholder => "E-mail"}
                %textarea{:name => "message", :placeholder => "Message..."}
                %input.submit{:type => "submit", :name => "submit", :value => "Envoyer"}
            