#contact
    .container1.text-center
        .contact CONTACT
        .hello HELLO!
        .telephone Phone: +32 2 345 48 37
        .email Email: hello@qwerteach.com
    .container2
        = simple_form_for @contact, :html => {:class => 'form-inline text-center' } do |f|
            .item{:class=>'form-group'}
                .item{:class=>'form-group'}
                    =f.input :name ,:label=>false, :placeholder=>"Name here",:required => true, :class=> 'form-control'
                .item{:class=>'form-group'}
                    =f.input :email ,:label=>false, :placeholder=>"Email here",:required => true, :class=> 'form-control'
                .item{:class=>'form-group'}
                    =f.input :subject ,:label=>false, :placeholder=>"Subject here",:required => false, :class=> 'form-control'
                .message
                    =f.text_area :message ,:label=>false, :placeholder=>"Message here",:rows=>6,:cols=>73,:as => 'text',:required => false, :class=> 'form-control'

            .form-actions
                = f.button :submit, 'Envoyer!' , :class=> "btn btn-green btn-qw"
            .hidden
                = f.input :nickname, :hint => 'Leave this field blank!'