---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"5abdf4a6065d4b1d8a0fa9161522640f","token_type":"Bearer","expires_in":1199}'
  recorded_at: Thu, 25 Aug 2016 15:39:18 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"FR","Nationality":"FR","Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","PostalCode":"87172","City":"FOKGPOER","Region":"EIJGERIGJE","Country":"FR"},"FirstName":"Macaque","LastName":"Selfieur","Birthday":1455210000,"Email":"a@a.a","PersonType":"NATURAL","Tag":"user
        1"}'
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '18'
      - '24'
      - '30'
      - '363'
      X-Ratelimit-Remaining:
      - '105237'
      - '2282'
      - '4476'
      - '8770'
      X-Ratelimit-Reset:
      - '1472140440'
      - '1472141340'
      - '1472143140'
      - '1472225880'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","City":"FOKGPOER","Region":"EIJGERIGJE","PostalCode":"87172","Country":"FR"},"FirstName":"Macaque","LastName":"Selfieur","Birthday":1455210000,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"a@a.a","KYCLevel":"LIGHT","Id":"15425257","Tag":"user
        1","CreationDate":1472139557}'
  recorded_at: Thu, 25 Aug 2016 15:39:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15425257],"Currency":"EUR","Description":"wallet user 1"}'
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '19'
      - '25'
      - '31'
      - '364'
      X-Ratelimit-Remaining:
      - '105236'
      - '2281'
      - '4475'
      - '8769'
      X-Ratelimit-Reset:
      - '1472140440'
      - '1472141340'
      - '1472143140'
      - '1472225880'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 1","Owners":["15425257"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15425258","Tag":null,"CreationDate":1472139558}'
  recorded_at: Thu, 25 Aug 2016 15:39:19 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15425257/transactions?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15425257/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15425257/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '22'
      - '28'
      - '34'
      - '367'
      X-Ratelimit-Remaining:
      - '105233'
      - '2278'
      - '4472'
      - '8766'
      X-Ratelimit-Reset:
      - '1472140440'
      - '1472141340'
      - '1472143140'
      - '1472225880'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 25 Aug 2016 15:39:21 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15425257
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15425257/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15425257/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
   [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":15425257,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - Bearer 5abdf4a6065d4b1d8a0fa9161522640f
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '26'
      - '32'
      - '371'
      - '38'
      X-Ratelimit-Remaining:
      - '105229'
      - '2274'
      - '4468'
      - '8762'
      X-Ratelimit-Reset:
      - '1472140440'
      - '1472141340'
      - '1472143140'
      - '1472225880'
    body:
      encoding: UTF-8
      string: '{"Id":"15425261","Tag":null,"CreationDate":1472139564,"UserId":"15425257","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ctdPU2IGyKn3gQT0GVK0sWSMcMwhwN0UdjCqBUFzq3x4pYWyuh4WA08Ges_XKcF9S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Thu, 25 Aug 2016 15:39:25 GMT
recorded_with: VCR 3.0.3
