= label_tag 'Pour quel niveaux enseigner vous cette matière?'
%br
%br
- if @levels.nil?
  %p Aucun niveau disponible pour cette catégorie
- else
  .checkbox_left
    - @levels.each do |c|
      = check_box_tag 'levels_chosen[]', c.id, nil, class: 'price_box'
      = label_tag c[I18n.locale[0..3]]
      %br
  .input_right
    - @levels.each do |c|
      = number_field_tag 'prices[]', nil, :id => c.id, min: 0, disabled: true, :placeholder => "tarif..."
      %br
:javascript
  $('.price_box').on('click', function () {
    var a = $(this).val();
    if ($('#'+a+'').attr('disabled')) {
      $('#'+a+'').removeAttr('disabled');
      $('#'+a+'').attr({
        'required': 'required'
      });
    }
    else {
      $('#'+a+'').attr({
        'disabled': 'disabled'
      });
      $('#'+a+'').removeAttr('required');
    }
  });
