%h1 Mes annonces
%div
  = link_to 'Créer une annonce ', new_advert_path, :class => 'btn btn-warning'
  %br/
- @adverts.each do |advert|
  = render partial: 'adverts/advert', :locals => {:advert => advert}
