.lesson{class: ("inactive" if todo == :inactive)}
  =render partial: 'lessons/index/lesson_images', locals:{lesson: lesson, todo: todo}
  .lesson-details
    = render :partial => 'lessons/index/lesson_datetime', locals:{lesson: lesson, todo: todo}
    = render :partial => 'lessons/index/lesson_status', locals:{lesson: lesson, todo: todo}

    .lesson-status
      .confirmation-status
        -case lesson_confirmation_status(lesson)
          - when 'created'
            %i.fa.fa-check.text-green
            %br
            %small confirmé
          - when 'pending'
            %i.fa.fa-question.text-purple
            %br
            %small en attente
          - when 'canceled'
            %i.fa.fa-times.text-grey
            %br
            %small annulé
      .payment-status
        -case lesson_payment_status(lesson)
          -when 'paid'
            %i.fa.fa-dollar.text-green
            %br
            %small payé
          -when 'prepaid'
            %i.fa.fa-dollar.text-grey
            %br
            %small pré-payé
          - when 'unpaid'
            %i.fa.fa-dollar.text-orange
            %br
            %small non payé
.lesson-details{id: "lesson-details-#{lesson.id}"}