#lessons-navigation.vertical-navigation
  %nav.list-group
    %a.list-group-item.text-center{:href => cours_pending_path, class: (controller?("lessons") && action?("pending"))? 'active': ''}
      %h4
        %i.fa.fa-question
        En attente
    %a.list-group-item.text-center{:href => cours_donnes_path, class: (controller?("lessons") && action?("given"))? 'active': '' }
      %h4
        %i.fa.fa-graduation-cap
        Cours donnés
    %a.list-group-item.text-center{:href => cours_recus_path, class: (controller?("lessons") && action?("received"))? 'active': ''}
      %h4
        %i.fa.fa-book
        Cours reçus
    %a.list-group-item.text-center{:href => cours_historique_path, class: (controller?("lessons") && action?("history"))? 'active': ''}
      %h4
        %i.fa.fa-list
        Historique