.section-head
  %h2 Cours donnés
#lessons-content.clearfix
  = render partial: 'lessons_navigation'
  #lessons-list
    - @lessons.each do |lesson|
      = render partial: 'lesson', locals:{lesson:lesson}