<h1> Historique Cours </h1>
<table border="1" style="width:100%">
  <thead>
  <tr>
    <th>Id</th>
    <th>Professeur</th>
    <th>Elève</th>
    <th>Option</th>
    <th>Début</th>
    <th>Fin</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @lesson.each do |lesson| %>

      <%= render(:partial => 'lesson', :locals => {:lesson => lesson}) %>

  <% end %>

  </tbody>
</table>




