- unless user.profil_complete?
  %h3
    Bonus 10€:
  %h3.text-white
    Parraînez un ami et gagnez du crédit!
  .text-center
    = link_to '#', class: 'bonus_credit' do
      %i.fa.fa-long-arrow-right
- else
  %h3
    Bonus 10€:
  %h3.text-white
    Complétez votre profil et gagnez du crédit!
  .text-center
    = link_to '#', class: 'bonus_credit' do
      %i.fa.fa-long-arrow-right