.row
  %h2.todo_list_title
    To do list
.row
  - to_do_list.each do |lesson|
    -if lesson.pending?(user)
      = render partial: 'dashboards/todo_list/todo_answer', locals: {lesson: lesson}
    -if lesson.paid?
      = render partial: 'dashboards/todo_list/todo_review', locals: {lesson: lesson}
    - else
      = render partial: 'dashboards/todo_list/todo_payment', locals: {lesson: lesson}