.lesson-topic{class: lesson_topic_class(lesson)}
  =image_tag(lesson.topic.pictotype('medium'), class:'lesson-picto')
.lesson-other
  =image_tag(lesson.other(current_user).avatar(:medium), class:'lesson-user')