Ce cours n'a pas encore été payé!
%br
-# Show details of lesson, including link to pay each payment fo the lesson
= link_to 'Payer', lesson_path(lesson) , class:'btn btn-qw btn-green btn-sm'
%br
%small
  = link_to 'Signaler un problème', lesson_dispute_path(lesson), class: 'text-grey'