@import "global_variables";
.boutton{
    display: block;
    background: $color_qwerteach_purple;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    padding: 10px 20px;
    margin-top: 70px;
}

.section_bigimage{
    /*background: url(image_path("acceuil/bigimage.jpg"));*/
    background-size: cover;
    background-position: center center;
    text-align: center;  
    width: 100%;   
    .open_mode_emploi{
        font-size: 16px;
    }
    .title{
    padding-top: 120px;
    padding-left: 150px;
        h1,h2{
            color: #fff;
            text-align: left;
            margin: 5px;
            text-shadow: 0 1px 0;
        }
        h2{
            font-size: 24px;
            font-family: "SofiaProRegular";
        }
        h1{
            font-size: 42px;
            font-family: SofiaProRegular;
        }
    }
}
.mode_emploi{
  margin: 100px auto auto auto;
  width: 100%;
  text-align:center;
  a{
    padding: 5px 20px;
    background: #313131;
    border: 2px solid $color_qwerteach_green;
    border-radius: 25px;
    color: $color_qwerteach_green;
    font-size: 18px;
    cursor: pointer;
    font-weight:300;
  }
  a:hover{
    background: #414141;
    color:$color_qwerteach_green;
    border: 2px solid $color_qwerteach_green;
  }
}


.section_recherche{
    width: 100%;   
    background: #000;
    height: 50px;
}


.section_carrousel{
    width: 100%;   
    .slide{
        background: $color_qwerteach_green;
    }
    .item{
        position: relative;
        height: 100%;
        img{
            position: relative;
            display: inline-block;
            top: 50%;
            right: 0;
            width: 50%;
            height: auto;
            transform: translateY(-50%);
        }
        .img_slide1{
            float: right;
        }
        .right{
            width: 45%;
            right: 5%;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            text-align: left;
            h2{
                width: 70%;
                color: $color_qwerteach_darkgrey;
                font-size: 38px;
            }
            .devenir_prof{
                display: block;
                background: $color_qwerteach_pink;
                border-radius: 15px;
                color: #fff;
                font-size: 14px;
                text-align: center;
                width: 200px;
                padding: 10px 20px;
                margin-top: 70px;
            }
            .comment_ca_marche{
                display: block;
                padding: 10px 20px;
                width: 210px;
                font-size: 14px;
                color: $color_qwerteach_darkgrey;
                text-align: center;
                margin-top: 2px;
            }
        }
        .left{
            width: 45%;
            left: 15%;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            text-align: left;
            h2{
                width: 70%;
                color: #fff;
                font-size: 38px;
            }
            .inscription{
                display: block;
                background: $color_qwerteach_purple;
                border-radius: 15px;
                color: #fff;
                font-size: 14px;
                text-align: center;
                width: 200px;
                padding: 10px 20px;
                margin-top: 70px;
            }
            .comment_ca_marche{
                display: block;
                padding: 10px 20px;
                width: 210px;
                font-size: 14px;
                color: $color_qwerteach_darkgrey;
                text-align: center;
                margin-top: 2px;
            }
        }
    }
    .carousel-control{
        background: none !important;
        opacity: 1;
        img{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            opacity: 1;
        }
    }
}


.section_commentmarche{
    width: 100%;   
    background: $color_qwerteach_navgrey;
    height: 600px;
    width: 100%;
    display: none;
    padding: 0;
    padding-top: 50px;
    margin-top: -50px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    #ccm_guitar{
        padding: 0 !important;
    }
    .left{
        position: relative;
        img{
            margin-top: 43px;
        }
        h3{
            position: absolute;
            left: 135px;
            top: 35px;
            color: $color_qwerteach_green;
            width: 70px;
            font-size: 32px;
            font-weight: bold;
        }
    }
    .point{
        position: relative;
        text-align: left;
        margin-left: -125px;
        span{
            font-size: 32px;
            color: $color_qwerteach_green;
        }
        h4{
            font-size: 24px;
            color: block;
            display: inline-block;
            color: #fff;
            margin-left: 15px;
        }
    }
    .point1{
        top: 40px;
    }
    .point2{
        top: 115px;
    }
    .point3{
        top: 185px;
    }
    .plus_infos{
        color: #fff;
        background: $color_qwerteach_pink;
        position: relative;
        top: 150px;
        display: block;
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        width: 200px;
        padding: 10px 20px;
        margin-top: 100px;
    }
    .quit{
        color: #fff;
        position: absolute;
        top: 40px;
        right: 25px;
        font-size: 32px;
        cursor: pointer;
    }
    .quit:hover{
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
}


.section_commentaire{
    width: 100%;   
    background: $color_qwerteach_purple;
    color: #fff;
    position: relative;
    .left{
        float: left;
        width: 66.66666%;
    }
    .right{
        float: left;
        width: 33.33333%;
    }
    .bigimage{
        background: url(image_path("bg_commentaire.jpg"));
        background-size: cover;
        background-position: center center;
    }
    h4{
        font-size: 38px;
        padding: 25px 50px;
        text-align: left;
        width: 80%;
        margin-top: 45px;
        margin-left: 15px;
    }
    .commentaires{
        position: absolute;
        height: 150px;
        width: 100%;
        bottom: 0;
        display: block;
        background: #fff;
        text-align: left;
        box-shadow: 0px 5px 5px grey;
        .commentaire{
            border-right: 1px solid $color_qwerteach_green;
            float: left;
            width: 32%;
            height: 150px;
            margin-left: -1px;
            position: relative;
            .triangle{
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                left: 50%;
                top: -15px;
            }
            p{
                color: $color_qwerteach_darkgrey;
                padding: 25px 50px 10px 50px;
                text-align: left;
                margin: auto;
                font-size: 14px;
                line-height: 21px;
            }
            .avatar{
                width: 45px;
                border-radius: 50%;
                margin-left: 50px;
            }
            .avatar_name{
                display: inline;
                text-align: left;
                padding: 15px 25px;
            }
        }
        .plus{
            width: 4.199999%;
            height: 150px;
            background: $color_qwerteach_green;
            display: inline-table;
            color: #fff;
            float: left;
            margin-left: -1px;
            div{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
                height: 150px;
                a{
                    color: #fff;
                    font-size: 38px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}


.section_tri_colonne{
    width: 100%;  
    margin: 0 !important;
    .caption{
        width: 80%;
        margin: auto;
    }
    img{
        padding-top: 50px;
        height: 120px;
    }
    h4{
        color: #fff;
        text-align: left;
        font-size: 24px;
        margin-top : 15px;
    }
    h5{
        color: #797979;
        font-size: 14px;
        line-height: 21px; 
        text-align: left;
        margin-bottom: 25px;
    }
    hr{
        width: 50%;
        text-align: left;
        margin: 15px 0;
    }
    a{
        font-size: 14px;
        width: 70%;
        margin: 0;
        display: block;
    }
    .colonne1, .colonne3{
        position: relative;
        background: $color_qwerteach_navgrey;
        height: 420px;
    }
    .colonne1{
        a{
            color: $color_qwerteach_orange;
        }
    }
    .colonne2{
        position: relative;
        background: $color_qwerteach_lightblack;
        height: 420px;
        a{
            color: $color_qwerteach_pink;
        }
    }
    .colonne3{
        a{
            color: $color_qwerteach_green;
        }
    }
}


.section_profs{
    width: 100%;   
    overflow: hidden;
    text-align: left;
    position: relative;
    .inside{
    position: absolute;
    left: 0;
    top: 0;
        .title{
            background: $color_qwerteach_yellow;
            color: $color_qwerteach_purple;
            width: 400px;
            height: 400px;
            position: absolute;
            top: 0;
            left: 0;
            h3{
                font-size: 38px;
                padding: 25px 50px;
            }
        }
        .prof{
            background-size: cover;
            background-position: center center;
            position: absolute;
            color: $color_qwerteach_purple;
            p{
                visibility: hidden;
            }
        }
        .item0{
            top: 0;
            left: 400px;
            height: 500px;
            width: 500px;
            box-shadow: 0px -80px 50px 0px rgba(0, 0, 0, 0.7) inset;
            p{
                position: absolute;
                left: 15px;
                bottom: 10px;
                visibility: visible;
                font-size: 14px;
                color: #fff;
                font-family: SofiaProLight !important;
            }
            .name{
                font-size: 16px;
                font-size: SofiaProRegular;
            }
        }
        .item1{
            top: 0;
            left: 900px;
            width: 350px;
            height: 350px;
            box-shadow: 0px -80px 50px 0px rgba(0, 0, 0, 0.7) inset;
            p{
                position: absolute;
                left: 15px;
                bottom: 10px;
                visibility: visible;
                font-size: 14px;
                color: #fff;
                font-family: SofiaProLight;
            }
            .name{
                font-size: 16px;
                font-family: SofiaProRegular;
            }
        }
        .item2{
            top: 0;
            left: 1250px;
            height: 100px;
            width: 100px;
        }
        .item3{
            top: 400px;
            left: 300px;
            width: 100px;
            height: 100px;
        }
        .item4{
            top: 400px;
            left: 100px;
            height: 200px;
            width: 200px;
        }
        .item5{
            top: 400px;
            left: -100px;
            height: 200px;
            width: 200px;
            background-position: left center;
        }
        .item6{
            top: 500px;
            left: 300px;
            height: 300px;
            width: 300px;
            background-position: bottom center;
        }
        .item7{
            top: 500px;
            left: 600px;
            height: 300px;
            width: 300px;
            background-position: bottom center;
        }
        .item8{
            top: 600px;
            left: 0;
            height: 300px;
            width: 300px;
            background-position: bottom center;
        }
        .item9{
            top: 350px;
            left: 900px;
            height: 200px;
            width: 200px;
        }
        .item10{
            top: 550px;
            left: 900px;
            height: 200px;
            width: 200px;
        }
        .item11{
            top: 350px;
            left: 1100px;
            height: 500px;
            width: 500px;
            background-position: top left;
        }
        .item12{
            top: 100px;
            left: 1250px;
            width: 250px;
            height: 250px;
            background-position: left center;
        }
    }    
}

.section_presse{
    width: 100%;   
    clear: both;
    h3{
        margin-top: 50px;
        margin-bottom: 35px;
        font-size: 38px;
        text-align: center;
    }
    .presse_link{
        margin-bottom: 50px;
    }
}

.section_choix{
    width: 100%;   
    background: $color_qwerteach_yellow;
    height: 150px;
    .matiere{
        float: left;
        width: 12.5%;
        text-align: center;
        position: relative;
        height: 100%;
        cursor: pointer;
        img{
            margin: 10px auto auto auto;
            height: 40px;
            margin-top: 40px;
        }
        h3{
            margin: auto;
            color: $color_qwerteach_purple;
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .matiere:hover{
        background: #fef46e;
    }
    .tous{
        width: 25%;
        text-align: center;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        a{
            background: $color_qwerteach_pink;
            color: #fff;
            padding: 10px 35px;
            border-radius: 15px;
        }
    }
}

.section_recherche{
    height: 50px;
    button{
        height: 50px;
        width: 50px;
        border: none;
        background: #F8E71C;
        color: #fff;
        display: inline;
        font-size: 18px;
    }
    .recherche-bar{
        height: 50px;
        display: inline;
        border: none;
        border-radius: 0px;
        background: #fff;
        margin-left: -4px;
    }
}