$color_qwerteach_green : #22de80;
$color_qwerteach_pink : #d92d9b;
$color_qwerteach_darkgrey: #4a4a4a;
$color_link_grey: #b9b9b9;

.section_bigimage{
    width: 100%;
    background: url(image_path("acceuil/bigimage.jpg"));
    background-size: cover;
    background-position: center center;
    
    .title{
    padding-top: 120px;
    padding-left: 150px;
        h1,h2{
            color: #fff;
            text-align: left;
            margin: 5px;
            text-shadow: 0 1px 0;
        }
        h2{
            font-size: 24px;
        }
    }
    
    .mode_emploi{
        margin: 100px auto auto auto;
        
        a{
            padding: 10px 20px;
            background: #313131;
            border: 1px solid $color_qwerteach_green;
            border-radius: 25px;
            color: $color_qwerteach_green;
            font-size: 18px;
            cursor: pointer;
        }
        a:hover{
            background: #414141;
        }
    }
}


.section_recherche{
    background: #000;
    height: 50px;
}


.section_carrousel{
    .slide{
        background: $color_qwerteach_green;
    }
    .item{
        position: relative;
        height: 100%;
        img{
            position: relative;
            display: inline-block;
            top: 50%;
            right: 0;
            width: 50%;
            height: auto;
            transform: translateY(-50%);
        }
        .img_slide1{
            float: right;
        }
        .right{
            width: 45%;
            right: 5%;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            text-align: left;
            h2{
                width: 70%;
                color: $color_qwerteach_darkgrey;

                font-size: 48px;
            }
            .devenir_prof{
                display: block;
                background: $color_qwerteach_pink;
                border-radius: 25px;
                color: #fff;
                font-size: 18px;
                text-align: center;
                width: 200px;
                padding: 10px 20px;
                margin-top: 70px;
            }
            .comment_ca_marche{
                display: block;
                padding: 10px 20px;
                width: 210px;
                font-size: 16px;
                color: $color_qwerteach_darkgrey;
                text-align: center;
                margin-top: 2px;
            }
        }
    }
}
