.adverts-list{
  position:relative;
  width:100%;
}
.advert{
  padding: 30px;
  float:left;
  height: 170px;
  position: relative;
  box-shadow: inset 25px 0px 19px -17px rgba(0,0,0,0.75);
  text-align:center;
  h3{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 10px;
  }
  .option{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .icon{
    height:63px;
  }
}
.advert.simple{
  width:100%;
}
.advert.double{
  width:50%;
}
.advert.triple{
  width:33.3333333%;
}

.add-new-advert{
  padding: 30px;
  background: #1D1D1B;
  border-color: #1D1D1B;
  height:170px;
  float:left;
  p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 10px;
  }
}

.first-lesson-free{
  font-family: 'SofiaProRegular';
  color: white;
  background: #3C3C3B;
  position: relative;
  padding:30px 60px;
  .info{
    font-weight: 400;
  }
  h3{
    margin-top:0px;
    margin-bottom: 30px;
    font-size: 26px;
  }
  .switch{
    position:relative;
    top:10px;
    left:10px;
    display:inline-block;
  }
}

#new-advert{
  padding: 30px;
}
.edit-advert form .col-sm-5{
  padding-top:30px
}
#additional-levels{

}

.level_choice_levels{
  input[type="number"]{
    min-width: 100px;
  }
  input[type="number"][disabled="disabled"]{
    display:none;
  }
  .level-row label{
    line-height:30px;
  }
}

.form-actions{
  margin-top: 15px;
  input{
    border-radius: 15px !important;
    border-color: #29B46C !important;
    border: 1px solid !important;
    color: #29B46C !important;
    background: #fff !important;
    width: 200px !important;
  }
  a{
    border-radius: 15px;
    border-color: #D92D9B;
    border: 1px solid;
    color: #D92D9B;
    background: #fff;
  }
  a:hover{
    border-radius: 15px;
    border-color: #D92D9B;
    border: 1px solid;
    color: #D92D9B;
    background: #fff;
  }
}

.with-arrow:after, .with-arrow:before {
  top: 100%;
  left:50%;
  border: solid transparent;
  content: " ";
  position: absolute;
}

.with-arrow:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: inherit;
  border-width: 30px;
  margin-left: -30px;
}