/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-datetimepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'chosen';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.round-image-50 {
  background-color: black;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img {
    width: 100%
  }
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* CSS used here will be applied after bootstrap.css */

.notifications {
  min-width: 420px;
  left: -300px;
}

.notifications-wrapper {

  max-height: 250px;
}

.menu-title {
  color: #ff7788;
  font-size: 1.5rem;
  display: inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left: 10px;
}

.notification-heading, .notification-footer {
  padding: 2px 10px;
}

.dropdown-menu.divider {
  height: 20px;
  width: 420px;
}

.item-title {

  font-size: 1.3rem;
  color: #000;

}

.notifications a.content {
  text-decoration: none;
  background: #ccc;

}

.notification-item {
  padding: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 4px;
}

