@import "global_variables";

#profile-calendar{
  background-color:#222222;
  padding-top:30px;
  float:left;
  .fc-toolbar{
    color: $color_qwerteach_green;
    padding-left:30px;
    .fc-today-button{
      color:white;
      background-color:transparent;
      border: none;
      text-shadow: none;
      opacity:0.3;
      font-size:20px;
      font-weight:300;
    }
    .fc-prev-button, .fc-next-button {
      border-radius: 50%;
      background: #FFFFFF;
      height: 30px;
      width: 30px;
      padding: 0px;
      margin: 0px 7px;
      margin-top: 5px;
    }
    .fc-icon{
      margin:0;
    }
    .fc-icon-left-single-arrow::after{
      content: '';
    }
    .fc-icon-left-single-arrow{
      border-bottom: 7px solid transparent;
      position: relative;
      right: 2px;
      border-right: 7px solid black;
      border-top: 7px solid transparent;
      top: -2px;
    }
    .fc-icon-right-single-arrow::after{
      content: '';
    }
    .fc-icon-right-single-arrow{
      border-bottom: 7px solid transparent;
      position: relative;
      right: 2px;
      border-left: 7px solid black;
      border-top: 7px solid transparent;
      top: -2px;
    }
    .fc-right{
      margin-right:30px;
    }
  }
  .fc-view{
    color: #979797;
    table td, .fc th, .fc-day-header, .fc-axis{
      border:none;
      border-width:0px;
      border-style:none;
    }
    .fc-slats{
      margin-top:10px;
    }
    .fc-slats table tbody tr td{
      border:none;
      line-height:33px;
    }
    .fc-slats table tbody tr td.fc-widget-content{
      border-top:1px dashed #424242;
    }
    .fc-slats table tbody tr td:first-child{
      border-top: none;
    }
    .fc-axis.fc-time span{
      top: -18px;
      position: relative;
      font-size: 15px;
      font-weight: 300;
    }
    .fc-axis.fc-time{
      margin:20px;
      padding: 0px 15px;
    }
    .fc-time-grid table{
      border-top:1px;
    }
    .fc-day-header{
      font-size: 17px;
      font-weight: 300;
    }
  }
  .fc-today {
    background: #383838;
  }
}