@import "global_variables";

.section_video{
  .left{
    float: left;
    width: 33.3333333%;
    background: $color_qwerteach_yellow;
    color: $color_qwerteach_darkgrey;
    height: 100%;
  }
  .right{
    float: left;
    width: 66.66666%;
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
.section_test_classe, .section_video {
  height:550px;
  width: 100%;
  h2 {
    font-size: 38px;
    display: block;
    margin-left: 35px;
    margin-top: 70px;
    width: 60%;
    font-family: SofiaProBold;
    line-height: 42px;
    margin-bottom: 100px;
  }
  hr {
    width: 50%;
    text-align: left;
    border: 1.5px solid $color_qwerteach_darkgrey;
    margin-left: 35px;
    margin-bottom: 40px;
  }
  p{
    text-align: left;
    display: block;
    margin-left: 35px;
    width: 60%;
    font-size: 18px;
    line-height:20px;
    font-family: SofiaProLight;
    a{
      color:inherit!important;
      font-family: SofiaProLight;
    }
  }
}

.section_test_classe{
  .left{
    float: left;
    height: 100%;
    width: 66.66666%;
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .right{
    float: left;
    background: $color_qwerteach_green;
    height: 100%;
    width: 33.3333%;
  }
}

.section_etapes{
  width: 100%;
  color: #fff;
  background: #313131;
  height: 250px;
  .col{
    float: left;
    width: 25%;
    text-align: center;
    p{
      padding: 44px;
      text-align: left;
      font-size: 14px;
    }
    img{
      margin-top: 55px;
    }
  }
}

.section_comment_prendre_donner_cours{
  .section_title{
    display: block;
    position:relative;
    width: 100%;
    padding: 80px 0px 80px 0px;
    background: $color_qwerteach_green;
    margin: 0;
    h2{
      color: #313637;
      padding-left:10%;
      font-size: 38px;
      line-height:42px;
      font-family: SofiaProBold;
      width:50%;
    }
    a.arrow-give-lesson, a.arrow-take-lesson{
      background-color:white;
      color: #313637;
      border-radius:50%;
      width:40px;
      height:40px;
      float:right;
      font-size: 24px;
      text-align: center;
      margin-top: -60px;
      cursor:pointer;
    }
    a.arrow-take-lesson{
      position:relative;
      right:50px;
      display:none;
    }
    img{
      position: absolute;
      height: 200px;
    }
    .take-lesson{
      bottom: 0;
      right:0;
    }
    .give-lesson{
      bottom: 0;
      left:100px;
    }
  }
  .section_title.give_lesson{
    h2{
      width:50%;
      left:50%;
      position: relative;
      margin-left: 0px;
      padding-right:100px;
    }
  }
  .cont{
    display: block;
    float: none;
    margin-top: 15px;
    margin-bottom: 25px;
    .text{
      left: 10%;
      display: inline-block;
      position: relative;
      top: 50%;
      width: 50%;
      p{
        width: 70%;
      }
      h3{
        font-size: 24px;
        font-weight: bold;
        color: $color_qwerteach_green;
        margin-bottom: 25px;
      }
      .infos{
        color: $color_qwerteach_orange;
      }
    }
    .icone{
      text-align: center;
      display: inline-block;
      width: 40%;
      position: relative;
      left: 0;
      img{
        display: block;
        margin: auto;
        height: 150px;
      }
    }
  }
}
.section_comment_prendre_donner_cours.comment_prendre{
  margin-bottom: 50px;
}
.section-faq{
  #general-faq{
    height:450px;
    background-color: #313637;
    padding: 80px;
    font-size: 38px;
    font-family: SofiaProRegular;
    line-height:42px;
    img{
      height:40px;
      margin-bottom: 50px;
    }
    a.text-pink:hover{
      color:$color_qwerteach_pink;
    }
  }
  #questions-faq{
    padding: 80px;
    color: #313637;
    height:450px;
    background-color: $color_qwerteach_yellow;
    font-family: SofiaProLight;
    font-size: 26px;
    line-height:42px;
    h4{
      font-size: 26px;
    }
    a{
      position: absolute;
      font-size: 14px;
      bottom: 80px;
      left:80px;
    }
    a:hover{
      color: $color_qwerteach_pink;
    }
  }
}