@import "global_variables";

.section_video{
    height: 550px;
    .left{
        float: left;
        width: 40%;
        background: $color_qwerteach_yellow;
        color: $color_qwerteach_darkgrey;
        height: 100%;
        h2{
            font-size: 42px;
            display: block;
            margin-left: 35px;
            margin-top: 35px;
            width: 50%;
            color: $color_qwerteach_pink;
            font-weight: bold;
        }
        hr{
            width: 35%;
            text-align: left;
            border: 1.5px solid $color_qwerteach_darkgrey;
            margin-left: 35px;
        }
        p{
            text-align: justify;
            display: block;
            margin-left: 35px;
            width: 50%;
            font-size: 18px;
        }
    }
    .right{
        float: left;
        width: 60%;
        height: 100%;
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.section_test_classe{
    height: 500px;
    width: 100%;
    .left{
        float: left;
        height: 100%;
        width: 70%;
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    .right{
        float: left;
        background: $color_qwerteach_green;
        height: 100%;
        width: 30%;
        h2{
            font-size: 42px;
            display: block;
            margin-left: 35px;
            margin-top: 35px;
            width: 80%;
            color: $color_qwerteach_purple;
            font-weight: bold;
        }
        hr{
            width: 50%;
            text-align: left;
            border: 1.5px solid $color_qwerteach_darkgrey;
            margin-left: 35px;
        }
        p{
            text-align: justify;
            display: block;
            margin-left: 35px;
            width: 80%;
            font-size: 18px;
        }
    }
}

.section_etapes{
    width: 100%;
    color: #fff;
    background: #313131;
    height: 200px;
    .col{
        float: left;
        width: 25%;
        text-align: center;
        p{
            padding: 25px;
            text-align: left;
            font-size: 18px;
        }
        img{
            margin-top: 25px;
            height: 44px;
        }
    }
}

.section_comment_prendre_cours{
    margin-bottom: 50px;
    h2{
        display: block;
        text-align: center;
        width: 100%;
        padding: 30px 0px;
        background: $color_qwerteach_green;
        color: #fff;
        font-size: 38px;
        margin: 0;
    }
    .cont{
        display: block;
        float: none;
        margin-top: 15px;
        margin-bottom: 25px;
        .text{
            left: 20%;
            display: inline-block;
            position: relative;
            top: 50%;
            width: 40%;
            p{
                width: 70%;
            }
            h3{
                font-size: 24px;
                font-weight: bold;
                color: $color_qwerteach_green;
                margin-bottom: 25px;
            }
            .infos{
                color: $color_qwerteach_orange;
            }
        }
        .icone{
            text-align: center;
            display: inline-block;
            width: 40%;
            position: relative;
            left: 10%;
            img{
                display: block;
                margin: auto;
                height: 150px;
            }
        }
    }
}