@import "global_variables";


#contact{
    
    background-color: $color_qwerteach_green;
    .contact{
        
        font-size: 49px;
        font-family: SofiaProRegular;
        
    }
    .hello{
        
        color:white;
        font-size:68px;
    }
    .container1{
        padding-bottom: 35px;
    }



.simple_form {
    
    background-color: white;
    padding-top:30px;
    padding-bottom: 20px;
    
    div.input {}
    .message{}
}
}