// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global_variables';

#mailbox-head{
  height:40px;
  background-color:#222;
  border-top: 1px solid $color_qwerteach_darkgrey;
  .new-message{
    width:20%;
    padding-right:20px;
    float:left;
    img{
      height:20px;
      margin-top:10px;
      float:right;
      cursor:pointer;
    }
  }
  #compose-message{
    display:none;
    width:80%;
    float:right;
    label{
      float:left;
      color: #a7a9ab;
      font-weight:400;
      margin-top: 10px;
      padding-left: 5px;
    }
    input#recipients{
      margin-top:3px;
      display: inline-block;
      width: 80%;
      margin-left:5px;
      border:none;
      background-color:transparent;
      color: #a7a9ab;
    }
    input#recipients:active, input#recipients:focus{
      box-shadow: none;
    }
    .form-group{
      margin-bottom: 0px;
    }
  }
}

.mail-box {
  text-align: left;
  height:100%;
  width:100%;
  padding-right:40px;
  position:absolute;
}
.mail-box aside {
  height: 100%;
  padding: 0;
  vertical-align: top;
  position:relative;
}
#mailbox-content{
  position:relative;
  height:100%;
}
.mail-box .sm-side {
  background: none repeat scroll 0 0 #3c3c3c;
  border-radius: 0px 0 0 4px;
  width: 20%;
  min-width:120px;
  height:100%;
  position:relative;
  float:left;
  a:hover, a:active, a:focus{
    color:inherit;
    outline:none;
  }
}
.mail-box .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 4px 4px 0;
  max-width: calc(100% - 170px);
  float:right;
  width:80%;
}

.mail-box #conversations-list{
  height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  .conversation-preview{
    border-bottom: 1px solid $color_qwerteach_darkgrey;
    padding:10px;
    position:relative;
    .avatars img{
      float:left;
      width:40px;
      margin-right:10px;
    }
    .participants{
      color:white;
      font-weight: normal;
      white-space: nowrap;
      padding-right:30px;
    }
    .last-message{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #b2b2b2;
    }
    .last-message-date{
      position:absolute;
      top:5px;
      right:5px;
    }
    a:hover{
      color:inherit;
    }
    .unread{
      position:absolute;
      right:5px;
      bottom:0px;
      font-size: 0.7em;
      color: #b2B2B2;
    }
  }
  .conversation-preview.new-message{
    background-color: #58585b;
    display:none;
    .grey-circle{
      width: 40px;
      height:40px;
      border-radius: 50%;
      background-color: #404041;
      float:left;
      margin-right:10px;
    }
  }
  .conversation-preview.active{
    background-color: rgb(100, 100, 100);
  }
}
.mailbox-conversation{
  height:100%;
  width:80%;
}

#mailbox_conversations{
  height: 100%;
  .conversation-content{
    height: calc(100% - 110px);
    margin-bottom:110px;
    overflow-y: scroll;
  }
  .conversation-reply{
    height:110px;
    position: absolute;
    bottom: 0px;
    width: 80%;
    textarea{
      height:110px;
      padding-right:100px;
      border-right: none;
      border-left: none;
    }
    input[type="submit"]{
      position:absolute;
      right:20px;
      top:37px;
      color:white;
      background-color: $color_qwerteach_green;
      border-radius: 10px;
      box-shadow:none;
      border:none;
    }
  }
}
.message-container{
  width:100%;
  padding:10px;
  position:relative
}
.message{
  padding:10px;
  max-width: 80%;
  color:white;
  border-radius:10px;
}
.message-received{
  float:left;
  margin-left: 30px;
  background-color: $color_qwerteach_pink;
  .avatar img{
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 30px;
  }
}
.message-sent{
  float:right;
  margin-right:20px;
  background-color: $color_qwerteach_green;
}

.mailbox-conversation-details{
  padding:20px;
  width:20%;
  height:100%;
  position:absolute;
  top:0px;
  right:0px;
  background-color: $color_qwerteach_lightgrey;
  color:white;
  .participant{
    border-bottom: 1px solid $color_qwerteach_darkgrey;
    padding-bottom:20px;
    .avatar{
      width:60px;
      img{
        width:100%;
      }
    }
    .name{
      padding-left: 60px;
      text-align: center;
      small{
        color: #b2b2b2;
      }
    }
  }
  .participant-adverts-title{
    margin: 10px 0px;
    color: #b2b2b2;
  }
  .participant-adverts{
    .advert{
      color:white;
      width:50%;
      float:left;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
      text-align:center;
      font-size:10px;
      padding: 5px 0px;
      height:auto;
      img{
        height:55px;
      }
    }
  }
  .participant-cta{
    margin-top:10px;
    color: #b2b2b2;
    a{
      color: #b2b2b2;
    }
  }
}