@import "global_variables";
#wallet_overview{
  width:50%;
  background-color: $color_qwerteach_green;
  margin: 0;
  padding: 30px;
  position:relative;
  z-index:0;
  height:160px;
}
#bonus{
  height:160px;
  width:50%;
  margin:0;
  position:relative;
  float:right;
  background-color: #313131;
  font-size: 22px;
  color: #F8E71C;
  letter-spacing: 0px;
  position:relative;
  z-index:0;
  padding: 30px;
  .bonus_credit i {
    margin-top:20px;
    background-color: #F8E71C;
    color: #4A4A4A;
    border-radius:50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}

#featured_teachers{
  padding-left:0px;
  padding-right:0px;
  h2{
    margin:0px;
    padding:30px;
  }
  .featured_teacher{
    float:left;
    width:20%;
    background: rgba(0,0,0,0.05);
    height: 340px;
    .picture img{
      width:100%;
    }
    .min_price{
      background-color: #222222;
      font-size: 13.71px;
      color: #FFFFFF;
      letter-spacing: 0px;
      text-align:center;
      padding:5px;
    }
    .name, .topics{
      padding:0px 10px;
    }
  }
  .featured_teacher:nth-child(even) {
    background: white;
    .min_price {
      background: #313131;
    }
  }
}