@import "global_variables";

/***User registration edit ***/
.edit_profile{
  .menu{
    height: 100%;
    text-align: center;
    padding: 0;
    position: fixed;
    background: #191919;
    .avatar{
      width: 100%;
    }
    h2, a{
      color: #C6C6C6;
      font-size: 11px;
      margin: 0;
    }
    div{
      padding: 5px 0px;
      border-bottom: 1px solid #C6C6C6;
    }
    .title{
      border: none;
      background: #575756;
      h2{
        padding: 5px 0px;
      }
    }
  }
  .right{
    left: 16.66666666%;
    position: relative;
  }
}