@import "global_variables";

/***User registration edit ***/
.edit_profile{
  font-family: SofiaProRegular !important;
  .menu{
    height: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 0;
    background: #191919;
    .avatar{
      width: 100%;
    }
    .active{
      background: #21DE80;
      border: 0px;
      color: #191919;
    }
    h2, a{
      color: #C6C6C6;
      font-size: 11px;
      margin: 0;
    }
    a{
      height: 100%;
      width: 100%;
      display: block;
      padding: 5px 0px;
      border-bottom: 1px solid #C6C6C6;
    }
    .title{
      border: none;
      background: #575756;
      h2{
        padding: 5px 0px;
      }
    }
  }
  .right{
    padding: 0;
    form#edit_user{
      margin-top: 10%;
      text-align: center;
      .form-group{
        margin-bottom: 20px;
        text-align: center;
        input{
          margin: auto;
          width: 300px;
          text-align: center;
        }
        label{
          font-size: 11px;
          color: #3C3C3B;
        }
      } 
      .form-actions{
        text-align: center;
        .action{
          display: inline-block;
        }
      }
    }
  }
  #profil{
    form{
      margin-top: 20px;
      text-align: left;
      .form-actions{
        position: relative;
        top: 35px;
      }
      h3{
        margin-bottom: 25px;
        text-align: left;
      }
      .form-group{
        text-align: left;
        label, input{
          text-align: left;
        }
      }
      .infos-general{
        padding-left: 20px;
        td{
          vertical-align: middle;
          padding: 5px;
        }
        input{
          width: 180px;
        }
      }
      .description{
        padding-left: 50px;
      }
    }
  }
  #annonces{
    #cmn-toggle-4{
      width:0px;
    }
  }
}