$color_qwerteach_green : #22de80;
$color_qwerteach_pink : #d92d9b;
$color_qwerteach_darkgrey: #4a4a4a;
$color_qwerteach_navgrey: #202020;
$color_qwerteach_lightblack: #191919;
$color_qwerteach_purple: #501dd4;
$color_qwerteach_orange: #eba029;
$color_qwerteach_yellow: #f8e71d;
$color_link_grey: #9B9B9B;