$color_qwerteach_green : #22de80;
$color_link_grey: #b9b9b9;

body, html{
    margin: 0;
}

a, a:hover{
    text-decoration: none !important;
    cursor: pointer;
}

.opacity_hover:hover{
    opacity: 0.8;
}

.main-content{
    display: block !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.nav{
 border: 0 !important;
 background: #222222 !important;
 height: 30px !important;
}

.nav{
    margin: 0 !important;
}

.nav .navbar-nav a{
    color: $color_link_grey;
    text-shadow: none;
}

.nav .navbar-nav a:hover{
    background: none;
    color: $color_qwerteach_green;
}

.nav .navbar-header .navbar-brand{
    padding: 10px;
}