$color_qwerteach_green : #22de80;
$color_qwerteach_navgrey : #191919;
$color_link_grey: #b9b9b9;

body, html{
    margin: 0;
    font-family: "Source Sans Pro" !important;
}

a, a:hover, a:active, a:focus{
    text-decoration: none !important;
    cursor: pointer;
    border: none;
    outline: 0;
    background: none;
}

.opacity_hover:hover{
    opacity: 0.8;
}

.main-content{
    display: block !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.main-nav{
 border: 0 !important;
 background: #222222 !important;
 height: 30px !important;
}

.main-nav{
    margin: 0 !important;
}

.main-nav .navbar-nav a{
    color: $color_link_grey;
    text-shadow: none;
}

.main-nav .navbar-nav a:hover{
    background: none;
    color: $color_qwerteach_green;
}

.main-nav .navbar-header .navbar-brand{
    padding: 10px;
}

#footer{
     background: $color_qwerteach_navgrey;   
     color: $color_link_grey;
     height: 400px;
     .inner{
         position: relative;
         top: 50px;
         width: 80%;
         display: block;
         margin: auto;
         height: 350px;
         .logo{
             display: block;
             margin: auto;
             height: 100px;
         }
         a{
            padding-right: 10%;
            display: block;
            text-align: left;
            color: $color_link_grey;
        }
        h3{
            font-size: 18px;
            text-align: left;
        }
        p{
            text-align: left;
        }
        .social_block{
            text-align: left;
            .social{
                display: inline-block;
                margin: 0;
                padding: 0;
                text-align: left;
                img{
                    width: 25px;
                    margin: 10px;
                }
            }
        }
        .green{
            color: $color_qwerteach_green;
        }

         
     }
}