$color_qwerteach_green : #22de80;
$color_qwerteach_navgrey : #191919;
$color_qwerteach_darkgrey: #4a4a4a;
$color_link_grey: #b9b9b9;

body, html{
    margin: 0;
    font-family: SofiaProRegular;
    outline: none !important;
}

h1,h2,h3,h4,h5,p,span,a{
    font-family: SofiaProRegular;
    font-weight:400 !important;
}

.container-fluid{
    //padding: 0 !important;
}

a, a:hover, a:active, a:focus{
    text-decoration: none !important;
    cursor: pointer;
    border: none;
    outline: 0;
    background: none;
    color:inherit;
}

//form{
//
//    input{
//        border-radius: 5px;
//        border: 1px solid #706F6F;
//        width: 250px;
//        padding-left: 10px;
//        color: #706F6F;
//        display: block;
//    }
//    select{
//        -webkit-appearance: none;
//        -moz-appearance: none;
//        appearance: none;
//        width: 250px;
//        height: 25px;
//        border-radius: 5px;
//        color: #706F6F;
//        border-color: #706F6F;
//        outline: none !important;
//        padding-left: 10px;
//        background: url('select_arrow.png') no-repeat 97% 50% #ffffff;
//        border: 1px solid;
//        pointer: cursor
//    }
//    label{
//        color: #3C3C3B;
//        padding-left: 5px;
//        display: block;
//        margin-top: 10px;
//   }
//   textarea{
//        border-radius: 5px;
//        border: 1px solid #706F6F;
//        height: 300px;
//        width: 250px;
//        outline: none !important;
//    }
//   .submit{
//        border-radius: 15px;
//        border-color: #29B46C;
//        border: 1px solid;
//        color: #29B46C;
//        background: #fff;
//        width: 200px;
//        padding: 5px 10px;
//    }
//    .form-actions{
//        a{
//            border-radius: 15px;
//            border-color: #D92D9B;
//            border: 1px solid;
//            color: #D92D9B;
//            background: #fff;
//            padding: 5px 10px;
//        }
//        a:hover{
//            border-radius: 15px;
//            border-color: #D92D9B;
//            border: 1px solid;
//            color: #D92D9B;
//            background: #fff;
//            padding: 5px 10px;
//        }
//    }
//}
//
//button{
//    outline: none !important;
//}
//input{
//    outline: none !important;
//}

form{
  .actions{
    margin: 25px 0px;
    text-align:right;
    input[type="submit"]{
      color:white;
      background-color: $color_qwerteach_green;
      border-radius: 5px;
      border:none;
      font-size: 14px;
      padding: 5px 12px;
      border-radius: 30px;
      margin-left:10px;
    }
  }
  select, select.form-control{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url('select_arrow.png') no-repeat 97% 50% #ffffff;
    background-image: url('select_arrow.png');
  }
  input[type="number"]{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}

.opacity_hover:hover{
    opacity: 0.8;
}

//.main-content{
//    display: block !important;
//    width: 100% !important;
//    margin: 0 auto !important;
//    padding: 0 !important;
//    overflow: hidden !important;
//}

.main-content{
  min-height: 50%;
}

.main-nav{
 border: 0 !important;
 background: #222222 !important;
 height: 30px !important;
 outline: none !important;
 margin: 0 !important;
 padding: 0 !important;
 position: static !important;
 border: none !important;
}

.navbar-nav{
    float: right !important;
}    

.main-nav .navbar-nav a{
    color: $color_link_grey;
    text-shadow: none;
}

.main-nav .navbar-nav a:hover{
    background: none;
    color: $color_qwerteach_green;
}

.main-nav .navbar-header .navbar-brand{
    padding: 10px;
}

#footer{
     background: $color_qwerteach_navgrey;   
     color: $color_link_grey;
     height: 500px;
     .cadre{
         border-top: 1px solid #767676;
         margin-top: 50px;
     }
     .inner{
         position: relative;
         top: 50px;
         width: 80%;
         display: block;
         margin: auto;
         height: 350px;
         .col{
             float: left;
             width: 25%;
         }
         .logo{
             display: block;
             margin: auto;
         }
         a{
            padding-right: 10%;
            display: block;
            text-align: left;
            color: $color_link_grey;
        }
        h3{
            font-size: 18px;
            text-align: left;
            font-weight: bold;
        }
        p{
            text-align: left;
        }
        .social_block{
            text-align: left;
            .social{
                display: inline-block;
                margin: 0;
                padding: 0;
                text-align: left;
                width: auto;
                img{
                    width: 25px;
                    margin: 10px;
                }
            }
        }
        .green{
            color: $color_qwerteach_green;
        }
     }
    .copyright{
            clear: both;
            bottom: 25px;
            color: $color_link_grey;
            margin-top: 280px;
        }
}

.ckeditor{
  width:100%;
}