@import "global_variables";

#flash-messages{
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 3;
  .alert{
    border-radius:0px;
    border:0px;
    opacity:0.95;
    padding-left:20%;
    .close{
      opacity:0.7;
    }
  }
  .alert-notice{
    background-color: $color_qwerteach_purple;
    background-image:none;
    color:white;
  }
  .alert-success{
    background-color: $color_qwerteach_green;
    background-image:none;
    color:white;
  }
  .alert-danger{
    background-color: $color_qwerteach_pink;
    background-image:none;
    color:white;
  }
}

#footer{
  z-index:10;
  position: absolute;
  width: 100%;
}

.btn.btn-qw {
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 300;
  padding: 8px 20px;
}
.btn-sm.btn.btn-qw {
  font-size: 14px;
  padding: 5px 12px;
}

.btn-green{
  background: $color_qwerteach_green;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  padding:8px 20px;
  .descriptionPlusResteProfil {
    margin-top: 400px;
  }
}
.btn-pink{
  background: $color_qwerteach_pink;
  color:white;
}

.text-green{
  color:$color_qwerteach_green!important;
}
.text-grey{
  color: $text_lightgrey;
}
.text-pink{
  color: $color_qwerteach_pink;
}
.text-blue{
  color: $color_qwerteach_blue;
}
.text-purple{
  color: $color_qwerteach_purple;
}

a:hover {
  color:$color_qwerteach_green;
}
a.btn:hover{
  color:white;
}