@import "global_variables";

#flash-messages{
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 3;
  .alert{
    border-radius:0px;
    border:0px;
    opacity:0.95;
    padding-left:20%;
    .close{
      opacity:0.7;
    }
  }
  .alert-notice{
    background-color: $color_qwerteach_purple;
    background-image:none;
    color:white;
  }
  .alert-success{
    background-color: $color_qwerteach_green;
    background-image:none;
    color:white;
  }
  .alert-danger{
    background-color: $color_qwerteach_pink;
    background-image:none;
    color:white;
  }
}

#footer{
  z-index:10;
  position: absolute;
  width: 100%;
}

.btn.btn-qw {
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 300;
  padding: 8px 20px;
}
.btn-sm.btn.btn-qw {
  font-size: 14px;
  padding: 5px 12px;
}

.btn-green{
  background: $color_qwerteach_green;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  padding:8px 20px;
  .descriptionPlusResteProfil {
    margin-top: 400px;
  }
}
.btn-pink{
  background: $color_qwerteach_pink;
  color:white;
}
.btn-orange{
  background: $color_qwerteach_orange;
  color:white;
}

.text-green{
  color:$color_qwerteach_green!important;
}
.text-grey{
  color: $text_lightgrey;
}
.text-pink{
  color: $color_qwerteach_pink;
}
.text-blue{
  color: $color_qwerteach_blue;
}
.text-purple{
  color: $color_qwerteach_purple;
}
.text-orange{
  color: $color_qwerteach_orange;
}

a:hover {
  color:$color_qwerteach_green;
}
a.btn:hover{
  color:white;
}



.cmn-toggle
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label
{
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label
{
  padding: 2px;
  width: 75px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after
{
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before
{
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after
{
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label
{
  background-color: $color_qwerteach_green;
}

input.cmn-toggle-round-flat:checked + label:after
{
  margin-left: 45px;
  background-color: $color_qwerteach_green;
}