@import 'global_variables';
#lessons-content{
  position:relative;
  width:100%;
}
.section-head{
  background-color: $color_qwerteach_green;
  color: white;
  height:100px;
  width:100%;
  padding-left:30px;
  h2{
    margin:0px;
    line-height:100px;
  }
}
.vertical-navigation{
  width:20%;
  border-radius:0px;
  background-color:#f2f2f2;
  float:left;
}

.vertical-navigation{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.vertical-navigation .list-group{
  margin-bottom: 0;
  border-radius:0;
}
.vertical-navigation .list-group>a{
  margin-bottom: 0;
}
.vertical-navigation .list-group>a .glyphicon,
.vertical-navigation .list-group>a .fa {
  color: $color_qwerteach_purple;
}
.vertical-navigation .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.vertical-navigation .list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.vertical-navigation .list-group>a.active {
  background-color: $color_qwerteach_purple;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  background-image: none;
  color: #ffffff;
  border-radius:0px;
  border:none!important;
}
.vertical-navigation .list-group>a.active .fa{
  color:white;

}
.vertical-navigation .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid $color_qwerteach_purple;
}
.vertical-navigation a.list-group-item:hover{
  border: 1px solid #ddd;
}
.vertical-navigation a.list-group-item{
  border-top:none;
  border-right:none;
}

#lessons-list{
  width:80%;
  border-left:1px solid #ddd;
  display:inline-block;
}

.lesson{
  height:150px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  position:relative;
  z-index:1;
  .lesson-topic{
    text-align:center;
    width:150px;
    height:100%;
    line-height:150px;
    float:left;
    img{
      max-width:100px;
      max-height:100px;
    }
  }
  .lesson-other{
    width:150px;
    height:150px;
    float:left;
    overflow:hidden;
    img{
      width:100%;
    }
  }
  .lesson-details{
    height: 150px;
    background-color: white;
    color: #313131;
    margin-left:300px;
    padding-left:10px;
    padding-top:15px;
    line-height: 27px;
    font-family:'Helvetica';
    font-weight: 300;
    font-size:18px;
  }
  .lesson-details-left, .lesson-details-right{
    width:40%;
    display:inline-block;
  }
  .lesson-details-right{
    width:60%;
    padding-right:200px;
    line-height:18px;
  }
  $card-width : 150px;
  $margin: 20px;
  $margin-spread: -5px;
  .lesson-status {

    width:$card-width;
    position:absolute;
    top:0px;
    right:0px;
    img.lesson-card{
      width:150px;
      position:absolute;
      box-shadow:  0px 2px 4px 0px rgba(0,0,0,1);
      filter: grayscale(100%);
      transition: right 0.7s;
    }

    .lesson-card:first-child{
      right:0px;
    }
    .lesson-card:nth-child(2){
      right:$margin * 1;
    }
    .lesson-card:nth-child(3){
      right:$margin*2;
    }
    .lesson-card:nth-child(4){
      right:$margin*3;
    }
    .lesson-card:last-child{
      filter:none!important;
    }
  }

  .lesson-status:hover {
    .lesson-card:first-child{
      right:0px;
    }
    .lesson-card:nth-child(2){
      right:($card-width + $margin-spread);
    }
    .lesson-card:nth-child(3){
      right:($card-width + $margin-spread)*2;
    }
    .lesson-card:nth-child(4){
      right:($card-width + $margin-spread)*3;
    }
    .lesson-card:last-child{
      filter:none!important;
    }
  }

  .lesson-date{
    margin-top:10px;
    font-size: 16px;
  }
  .lesson-actions, .lesson-show-details{
    position: relative;
    text-align:center;
    font-size:15px;
  }
  .lesson-actions{
    padding-bottom:15px;
    margin-bottom:15px;
    form.button_to{
      display:inline-block;
    }
  }
}

.lesson.inactive{
  filter: grayscale(100%);
  .lesson-details-left{
    text-decoration:line-through;
  }
}
//maths
.topic_1{
  background-color: $color_qwerteach_yellow;
  color:#313131!important;
  .font, .back, h4{
    //dirty workaround
    color:#313131!important;
  }
  .advert-flip-toggle span, .advert-flip-toggle span::before, .advert-flip-toggle span::after{
    background-color: #313131!important;
  }
}
//sciences
.topic_2{
  background-color: $color_qwerteach_pink;
  color:white;
}
//lettres
.topic_3{
  background-color: $color_qwerteach_orange;
  color:white;
}
//langues
.topic_4{
  background-color: $color_qwerteach_purple;
  color:white;
}
//sciences humaines
.topic_5{
  background-color: $color_qwerteach_green;
  color:white;
}
//informatique
.topic_6{
  background-color: $color_qwerteach_blue;
  color:white;
}
//autre
.topic_7{
  background-color: $color_qwerteach_red;
  color:white;
}

/*SHOW*/
.show-lesson-details{
  padding:30px 0px;
  padding-right:70px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,1);
  h3{
    margin-top:0px;
  }
  .lesson-picture{
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 191px;
    z-index:-1;
    text-align: center;
    line-height: 200px;
  }
}
.show-lesson-status {
  font-size: 25px;
  div{
    padding:0px 30px;
  }
  .lesson-expired {
    background-color: $color_link_grey;
    color: white;
  }
  .lesson-created {
    background-color: $color_qwerteach_green;
  }
  .lesson-canceled {
    background-color: $color_link_grey;
  }
  .lesson-pending {
    background-color: $color_qwerteach_purple;
  }
}

.lesson-todo{
  background-color: $color_qwerteach_lightgrey;
  color:white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  .todo-title{
    background-color: #222;
    text-align:center;
    padding:15px 0px;
    h3{
      margin:0px;
    }
  }
  .todo{
    padding: 30px 0px;
    width:100%;
    button{
      margin-right: 20px;
    }
  }
}
.lesson-payments{
  padding: 30px;
  h3{
    margin-top:0px;
  }
}
.show-lesson-details{
  display:none;
}