@import 'global_variables';
#lessons-content{
  position:relative;
  width:100%;
}
.section-head{
  background-color: $color_qwerteach_green;
  color: white;
  height:100px;
  width:100%;
  padding-left:30px;
  h2{
    margin:0px;
    line-height:100px;
  }
}
.vertical-navigation{
  width:20%;
  border-radius:0px;
  background-color:#f2f2f2;
  float:left;
}

.vertical-navigation{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.vertical-navigation .list-group{
  margin-bottom: 0;
  border-radius:0;
}
.vertical-navigation .list-group>a{
  margin-bottom: 0;
}
.vertical-navigation .list-group>a .glyphicon,
.vertical-navigation .list-group>a .fa {
  color: $color_qwerteach_purple;
}
.vertical-navigation .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.vertical-navigation .list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.vertical-navigation .list-group>a.active {
  background-color: $color_qwerteach_purple;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  background-image: none;
  color: #ffffff;
  border-radius:0px;
  border:none!important;
}
.vertical-navigation .list-group>a.active .fa{
  color:white;

}
.vertical-navigation .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid $color_qwerteach_purple;
}
.vertical-navigation a.list-group-item:hover{
  border: 1px solid #ddd;
}
.vertical-navigation a.list-group-item{
  border-top:none;
  border-right:none;
}

#lessons-list{
  width:80%;
  border-left:1px solid #ddd;
  display:inline-block;
}

.lesson{
  height:150px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  position:relative;
  z-index:1;
  .lesson-topic{
    width:150px;
    height:100%;
    line-height:150px;
    float:left;
    img{
      margin-left:25%;
      margin-right:25%;
    }
  }
  .lesson-other{
    width:150px;
    height:150px;
    float:left;
    overflow:hidden;
    img{
      width:100%;
    }
  }
  .lesson-details{
    height: 150px;
    background-color: white;
    color: #313131;
    margin-left:300px;
    padding-left:40px;
    padding-top:15px;
    color: #313131;
    line-height: 27px;
    font-family:'Helvetica';
    font-weight: 300;
    /* 14:30 Maths  avec Je: */
    font-size:20px;
  }
  .lesson-status{
    width:30px;
    height:150px;
    position:absolute;
    top:0px;
    right:0px;
  }
  .lesson-status-paid{
    background-color:$color_qwerteach_green;
  }
  .lesson-status-unpaid{
    background-color:$color_qwerteach_orange;
  }
  .lesson-status-pending{
    background-color:$color_qwerteach_purple;
  }
  .lesson-status-upcoming{
    background-color:$color_qwerteach_pink;
  }
  .lesson-status:after{
    font-family: FontAwesome;
    color:white;
    position:absolute;
    top:70px;
    top: 60px;
    position: relative;
    left: 6px;
  }
  .lesson-status-paid:after{
    content: '\f00c';
  }
  .lesson-status-unpaid:after{
    content: '\f00d';
  }
  .lesson-status-pending:after{
    content: '\f128';
  }
  .lesson-status-upcoming:after{
    content: '\f073';
  }
  .lesson-date{
    margin-top:10px;
    font-size: 16px;
  }
  .lesson-actions{
    float: right;
    width: 35%;
    position: relative;
    top: -50px;
  }
}

.topic_1{
  background-color: $color_qwerteach_yellow;
  color:$text_lightgrey;
}
.topic_2{
  background-color: $color_qwerteach_pink;
  color:white;
}
.topic_3{
  background-color: $color_qwerteach_orange;
  color:white;
}
.topic_4{
  background-color: $color_qwerteach_purple;
  color:white;
}
.topic_5{
  background-color: $color_qwerteach_green;
  color:white;
}
.topic_6{
  background-color: $color_qwerteach_blue;
  color:white;
}