@import 'global_variables';
#lessons-content{
  position:relative;
  width:100%;
}
.section-head{
  background-color: $color_qwerteach_green;
  color: white;
  height:100px;
  width:100%;
  padding-left:30px;
  h2{
    margin:0px;
    line-height:100px;
  }
}
.vertical-navigation{
  width:20%;
  border-radius:0px;
  background-color:#f2f2f2;
  float:left;
}

.vertical-navigation{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.vertical-navigation .list-group{
  margin-bottom: 0;
  border-radius:0;
}
.vertical-navigation .list-group>a{
  margin-bottom: 0;
}
.vertical-navigation .list-group>a .glyphicon,
.vertical-navigation .list-group>a .fa {
  color: $color_qwerteach_purple;
}
.vertical-navigation .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.vertical-navigation .list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.vertical-navigation .list-group>a.active {
  background-color: $color_qwerteach_purple;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  background-image: none;
  color: #ffffff;
  border-radius:0px;
  border:none!important;
}
.vertical-navigation .list-group>a.active .fa{
  color:white;

}
.vertical-navigation .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid $color_qwerteach_purple;
}
.vertical-navigation a.list-group-item:hover{
  border: 1px solid #ddd;
}
.vertical-navigation a.list-group-item{
  border-top:none;
  border-right:none;
}

#lessons-list{
  width:80%;
  border-left:1px solid #ddd;
  display:inline-block;
}

.lesson{
  height:150px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  position:relative;
  z-index:1;
  .lesson-topic{
    width:150px;
    height:100%;
    line-height:150px;
    float:left;
    img{
      margin-left:25%;
      margin-right:25%;
    }
  }
  .lesson-other{
    width:150px;
    height:150px;
    float:left;
    overflow:hidden;
    img{
      width:100%;
    }
  }
  .lesson-details{
    height: 150px;
    background-color: white;
    color: #313131;
    margin-left:300px;
    padding-left:10px;
    padding-top:15px;
    line-height: 27px;
    font-family:'Helvetica';
    font-weight: 300;
    font-size:18px;
  }
  .lesson-details-left, .lesson-details-right{
    width:40%;
    display:inline-block;
  }
  .lesson-details-right{
    width:60%;
    padding-right:60px;
    line-height:18px;
  }
  .lesson-status {
    width: 60px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
    .confirmation-status, .payment-status{
      height:50%;
      width:100%;
      text-align:center;
      border-left: 1px solid #ddd;
      padding-top:5px;
      small{
        font-size: 12px;
      }
    }
    .confirmation-status{
      border-bottom: 1px solid #ddd;
    }
  }

  .lesson-date{
    margin-top:10px;
    font-size: 16px;
  }
  .lesson-actions, .lesson-show-details{
    position: relative;
    text-align:center;
    font-size:15px;
  }
  .lesson-actions{
    padding-bottom:15px;
    margin-bottom:15px;
  }
}

.topic_1{
  background-color: $color_qwerteach_yellow;
  color:$text_lightgrey;
}
.topic_2{
  background-color: $color_qwerteach_pink;
  color:white;
}
.topic_3{
  background-color: $color_qwerteach_orange;
  color:white;
}
.topic_4{
  background-color: $color_qwerteach_purple;
  color:white;
}
.topic_5{
  background-color: $color_qwerteach_green;
  color:white;
}
.topic_6{
  background-color: $color_qwerteach_blue;
  color:white;
}

/*SHOW
.show-lesson-details{
  padding:30px;
  padding-right:70px;
  h3{
    margin-top:0px;
  }
}
.lesson-status{
  font-size:30px;
  div{
    width:70px;
    height:100%;
  }
  .lesson-expired{
    background-color:$color_link_grey;
    color:white;
  }
  .lesson-created{
    background-color:$color_qwerteach_green;
  }
  .lesson-canceled{
    background-color:$color_link_grey;
  }
  .lesson-pending{
    background-color:$color_qwerteach_purple;
  }
}
*/