@import 'global_variables';
.navbar.main-nav{
  position:fixed;
  width:100%;
  z-index:100;
}
.navbar {
  margin-bottom:0px!important;
  border-radius:0px!important;
}

.navbar-nav a.image-dropdown{
  padding-top:5px;
  img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
  }
}
.navbar.main-nav ul.pull-right a{
  margin-left:-10px;
}

.input-group-btn-floating{
  background-color: transparent;
  position: absolute;
  right: -50%;
  z-index: 2;
  height:100%;
  button{
    background-color:transparent;
    border:none;
    height:100%;
  }
}
.navbar-form .input-group input.form-control{
  background: #313131;
  box-shadow: inset 1px 4px 3px 0px rgba(0,0,0,0.50);
  border-radius: 40px;
  font-size: 12px;
  color: #E5E5E5;
  letter-spacing: 0.2px;
  width:150%;
  border:none;
}

#navbar{
  .nav .open > a, nav .open > a:focus, .nav .open > a:hover, .nav a{
    background-color:transparent;
  }
  .dropdown-menu{
    left:-200%;
    top:49px;
    border-radius:0px;
    background-color: #313131;
    li a{
      padding: 6px 20px;
    }
  }
  .dropdown-menu.notifications{
    min-width:200px;
    padding:0px 10px;
    a.dropdown-toggle{
      margin:0px;
    }
    .notification-heading h4{
      margin:0px;
      color:$color_qwerteach_green;
    }
  }


}
