@import "global_variables";
#search_header{
  height:500px;
  padding-top:100px;
  h1{
    margin:0px;
    color:white;
    font-size: 32px;
    margin-left:10%;
  }
  .search-controls{
    position:absolute;
    bottom:0px;
    height:100px;
    width:100%;
    background-color:rgba(0,0,0,0.80);
    line-height:100px;
    padding:0% 10%;
    font-size: 25.84px;
    color: #E5E5E5;
    font-weight:300;
    .text-appear{
      border-bottom:1px solid #E5E5E5;
      opacity:0;
      background-color:transparent;
      cursor:pointer;
    }
    .caret{
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}

#search-filters{
  width:12%;
  float:left;
  padding:20px 0px;
  z-index:1;
  ul.search-filters{
    li{
      cursor:pointer;
      font-size: 12px;
      color: #626262;
      padding: 10px 20px;
      border-bottom: 1px solid #4A4A4A;
    }
    li:hover, li.selected{
      color: $color_qwerteach_green;
      text-decoration:underline;
    }

  }
}

#search-results{
  position:relative;
  margin-left:12%;
  background-color: #F2F2F2;
  a{
    color:inherit;
  }
  .result{
    width:25%;
    float:left;
    height:600px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    background-color:white;
    z-index:1;
    position:relative;
    .result-wrapper{
      position:relative;
      height:100%;
      transform-style: preserve-3d;
    }
    img{
      width:100%;
    }
  }
  .user-price{
    position: relative;
    top: -30px;
    line-height: 30px;
    text-align: center;
    background: #191919;
    font-size: 18px;
    letter-spacing: 0.22px;
    color:white;
  }
  .result:nth-child(even) .user-price{
    background: #222222;
  }
  .result:nth-child(even) .result-footer{
    z-index:-1;
  }
  .result-online{
    width:100%;
    border: 2px solid $color_qwerteach_green;
  }
  .result-infos{
    margin-top:-30px;
    padding:20px;
    padding-top:10px;
    max-height: 230px;
    overflow: hidden;
    .user-name{
      font-size: 16px;
      color: #313131;
      letter-spacing: 0.2px;
    }
    .user-rating{
      font-size: 14px;
      color: #9B9B9B;
    }
    .user-topics a{
      font-size: 13px;
      color: #511DD4;
      line-height:15px;
    }
    .user-topics{
      margin-bottom:13px;
    }
  }
  p{
    margin: 0!important;
  }
  .user-description-excerpt{
    font-size: 13px;
    color: #626262;
    letter-spacing: 0px;
  }

  .result-footer{
    height:60px;
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    font-size: 14px;
    color: #313131;
    line-height: 60px;
    overflow: hidden;
    .footer-review{
      background-color:$color_qwerteach_green;
      width:100%;
      height:100%;
      img{
        border-radius: 50%;
        margin-left: 20px;
        width:40px;
      }
      .review-picture{
        width:40px;
        float:left;
      }
      .review-text{
        margin-left: 70px;
        text-align: left;
        line-height: 23px;
        padding: 8px 20px;
      }
    }
    .footer-free-lesson{
      width:100%;
      background-color:$color_qwerteach_yellow;
      height:100%;
    }
  }
  .result.animate{
    display:none;
  }
}

#more-results{
  text-align:center;
  height: 125px;
  padding:30px;
  font-size: 16px;
  letter-spacing: 0.2px;
  .more-results-button{
    cursor:pointer;
    display:inline-block;
    a{
      color: #4A4A4A;
    }
    a:after{
      background-color:$color_qwerteach_green;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      line-height: 35px;
      margin-top: 8px;
      content: "\f175";
      font-family: FontAwesome;
      position: absolute;
      margin-left:50%;
      display:block;
      left: -20px;
    }
  }
}

#search-topics, #search-sorting-options{
  top:0px;
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.8);
  z-index:2;
  .options-wrapper{
    opacity:0;
    margin-left: 10%;
    margin-top:50%;
    display:inline-block;
    max-width:220px;
    overflow:hidden;
    height:72%;
  }
  ul{
    color:white;
    list-style: none;
    font-size:24px;
    font-weight:300;
    padding-top:10%;
    overflow-y: scroll;
    padding-right:250px;
    white-space: nowrap;
    height:100%;
    li{
      cursor:pointer;
    }
  }
  .scroller-down{
    cursor:pointer;
    position:relative;
    float:right;
    top:-50px;
    color:white;
  }
  .scroller-up{
    cursor:pointer;
    position:relative;
    float:right;
    color:white;
    top: -100px;
    right: -27px;
  }
  .close-search-overlay{
    color: white;
    position: absolute;
    top: 40px;
    right: 100px;
    font-size: 50px;
    cursor: pointer;
  }
}

#search-sorting-options .options-wrapper{
  margin-left:30%;
  height:auto;
  margin-top:0%
}