// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global_variables";

.section-recherche {
  margin: 0;
  padding: 0;
  background: url(background.jpg) no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  width: auto;
  height: 800px;
}

@media screen and (max-width: 800px) {
  .section-recherche {
    height: 300px;
  }
}


.section-vert {
  background-color: #21DE80;
  color: white;
  height: 60%;
  width: auto;
}

.section-choix {
  background-color: #F8E71D;
  color: #593165;
  height: 60%;
  width: auto;
}

.section-commentmarche {
  background-color: #222222;
  color: white;
  height: 60%;
  width: auto;
}

.section-commentaire {
  background-color: #501DD4;
  color: white;
  height: 60%;
  width: auto;
}

.colonne1 {
  background-color: #21DE80;
  height: 800px;
  width: 33.3333%;
}

@media screen and (max-width: 800px) {
  .colonne1 {
    height: 700px;
  }
}

.colonne2 {
  background-color: #D92D9B;
  height: 800px;
  width: 33.3333%;
}

@media screen and (max-width: 800px) {
  .colonne2 {
    height: 700px;
  }
}

.colonne3 {
  background-color: #F8E71D;
  height: 800px;
  width: 33.3333%;

}

@media screen and (max-width: 800px) {
  .colonne3 {
    height: 700px;
  }
}

.section-presse {
  background-color: #F6F6F6;
  width: auto;
}

.mangopay {
  height: 20px;
  width: 20px;
}

.case4 {
  background-color: #501DD4;

}

.backgroundEdit {
  background-color: #222222;
}

.hautPageResult {
  background-color: #F1F3F2;
  width: auto;
}

/*Page de résultat de recherche*/
.section-resultat-header {
  margin: 0;
  padding: 0;
  background: url(background2.jpg) center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  height: 300px;;
}

.voirProfil {
  background-color: #313131;
  //position: bottom;
}

.commentaireProf {
  background-color: #1FDD83
}

.specialite {
  color: #A85988;
}

.bodyProfil {

}

.headerProfil {
  background: url(background2.jpg) center;
  height: 150px;
}

.nomPrenomResult {
  text-align: left;
  margin-left: 10px;
}

.notation {
  text-align: left;
  margin-left: 10px;
}

.rech {
  background-color: transparent;
}

.result {
  height: 800px;

}

/* Profil*/
#sidebar-profile{
  position:fixed;
  top:50px;
  height:100%;
  font-weight:200;
  overflow:hidden;
  background-color: $color_qwerteach_darkgrey;
  text-align:center;
  z-index:2;
  #user-profilepicture{
    width:100%;
    margin-bottom:24px;
    img{
      width:100%;
      height:auto;
    }
  }
  .user-pricing{
    margin-bottom:30px;
    /* voir le tarif détail: */
    font-size: 14px;
    font-family: 'Helvetica';
    a{
      margin-top:-4px;
      color:$color_link_grey;
    }
  }
  .minprice{
    font-size: 34px;
    color: $color_qwerteach_green;
    margin-bottom: -8px;
  }
}

#user-contactform{
  position:absolute;
  bottom:15px;
  width:100%;
  textarea{
    border-radius:0px;
  }
  .btn-send-message{
    background: $color_qwerteach_green!important;
    border-radius:0px;
    position:relative;
    top:-45px;
    left:5px;
    float:left;
    font-size: 13px;
    color: #4A4A4A;
    letter-spacing: 0px;
    line-height: 10px!important;
  }
}

#profile-content{
  width: calc(100%-256px);
  margin-left:256px;
  .profile-header{
    background-color: $color_qwerteach_darkgrey;
    width:100%;
    float:left;
    margin-bottom:30px;
    padding-bottom: 20px;
    h2{
      margin:0px;
      color:white;
      font-size: 35px;
      letter-spacing: 0px;
      font-weight:300;
    }
    .topics a, .topics{
      font-weight:200;
      color: $color_qwerteach_green;
      font-size: 18px;
      letter-spacing: 0.17px;
      line-height: 30px;
    }
    .left{
      margin-left:30px;
      float:left;
      margin-top:20px;
      width:60%;
    }
    .right{
      color:$color_link_grey;
      float: left;
      margin-right: 10%;
      line-height: 25px;
      margin-top: 25px;
      font-weight: 300;
      max-width: 25%;
    }
    #rating{
      cursor:pointer;
      display:inline-block;
      margin-top:8px;
    }
    .number-of-reviews{
      margin-left:10px;
      font-size:17px;
      color:$color_link_grey;
      font-weight:200;
    }
  }
  .profile-description{
    padding-left:30px;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0px;
    margin-right: 15%;
    padding-bottom:30px;
  }
}

#profile-adverts{
  position:relative;
  width:100%;
  .profile-advert .front{
    padding-top:50px;
    color:white;
    text-align:center;
    h4{
      text-align:center;
      font-size: 18px;
      font-weight: 300;
      line-height: 35px;
    }
  }
  .profile-advert .back{
    text-align:left;
    color:white;
  }
  .profile-advert.simple{
    width: 100%;
  }
  .profile-advert.double{
    width: 50%;
  }
  .profile-advert.triple{
    width: calc(100% / 3);
  }
  .profile-advert:first-child{
    background-color: $color_qwerteach_yellow;
    .back {
      color: $color_qwerteach_lightgrey;
      .advert-title {
        color: #313131;
      }
    }
  }
  .profile-advert:nth-child(2){
    background-color: $color_qwerteach_pink;
  }
  .profile-advert:nth-child(3){
    background-color: $color_qwerteach_purple;
  }
  .profile-advert:nth-child(4){
    background-color: $color_qwerteach_green;
  }
  .profile-advert:nth-child(5){
    background-color: $color_qwerteach_blue;
  }
  .profile-advert:nth-child(6){
    background-color: $color_qwerteach_lightblack;
  }
  .profile-advert:nth-child(7){
    background-color: $color_qwerteach_orange;
  }
  .profile-advert:nth-child(8){
    background-color: $color_qwerteach_pink;
  }
  .advert-flip-toggle {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 30px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .advert-flip-toggle span, .advert-flip-toggle span:before, .advert-flip-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 20px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  .advert-flip-toggle span:before {
    top: 14px;
  }
  .advert-flip-toggle span:after {
    bottom: -7px;
  }
  .advert-flip-toggle span, .advert-flip-toggle span:before, .advert-flip-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  .advert-flip-toggle.active span {
    background-color: transparent;
  }
  .advert-flip-toggle.active span:before, .advert-flip-toggle.active span:after {
    top: 0;
  }
  .advert-flip-toggle.active span:before {
    transform: rotate(45deg);
  }
  .advert-flip-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

#profile-reviews{
  float:left;
  padding:10px 30px;
  color: $text_lightgrey;
  .review{
    width:100%;
    padding-top:20px;
    .review-content{
      float:left;
      letter-spacing: 0px;
      line-height: 22px;
    }
    .review-sender {
      float: left;
      max-width: 90px;
      text-align: center;
      margin-right: 25px;
      overflow:hidden;
      .sender-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
    .review-stars{
      margin-bottom:15px;
    }
  }
}

/*Inscription & connexion*/
.conin{
    text-align: center;
    .modal-header{
      border: none;
      font-size: 32px;
      .close{
        color: #fff;
        text-shadow: none;
        opacity: 1;
      }
    }
    .modal-content{
        background: $color_qwerteach_green !important;
        color: #fff;
        outline: none !important;
        .provider_signin{
          display: block;
          margin: auto;
          padding: 5px;
          img{
            width: 250px;
          }
        }
        form{
          margin-bottom: 35px;
        }
        .field{
          margin: 20px;
          input{
            width: 80%;
            text-align: center;
            margin: auto;
            border-radius: 75px;
            height: 35px;
            color: $color_qwerteach_green;
            border: none;
            font-size: 16px;
          }
        }
        .actions{
          input{
            padding: 5px 70px;
            background: $color_qwerteach_purple;
            border-radius: 75px;
            border: none;
            border-style: none;
          }
        }
        a{
          color: #fff;
          margin-top: 5px;
        }
    }
    .modal-footer{
      border: none;
    }
}

/*Flipping cards effect*/
.profile-advert {
  perspective: 1000px;
  float:left;
  position:relative;
  height: 256px;
}
.profile-advert.hover{
  overflow: auto;
}

/* flip the pane when hovered */
.profile-advert.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  padding:20px 30px;
  transform: rotateY(180deg);
  font-size: 14px;

  letter-spacing: 0px;
  height: 226px;
  overflow: auto;
  .advert-title {
    font-size: 20px;
    font-weight:300;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    line-height: 23px;
  }
}