// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	text-align : center;
	height : 100%;
}


.section-recherche {
  margin:0;
  padding:0;
  background: url(background.jpg) no-repeat center; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  height : 80%;
  color : white;
  }

#q {
	  background: transparent;
    border: white;
}

.section-vert {
	background-color : #21DE80;
	color : white;
	height : 60%;
	}

.section-choix {
	background-color : #F8E71D; 
	color : #593165;
	height : 60%;
}

.section-commentmarche {
	background-color : #222222;
	color : white;
	height : 60%;
}

.section-commentaire {
	background-color : #501DD4;
	color : white;
	height : 60%;
}

.colonne1 {
	background-color : #21DE80;
}

.colonne2 {
	background-color : #D92D9B;
}

.colonne3 {
	background-color : #F8E71D;

}

.section-presse {
	background-color : #F6F6F6;
}

