---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"VG","Nationality":"NF","Address":{"AddressLine1":"Kautzer
        Meadows","AddressLine2":"37514","PostalCode":"OU95 2BL","City":"Ambermouth","Region":"Ohio","Country":"MK"},"FirstName":"Elisabeth","LastName":"Homenick","Birthday":682362000,"Email":"zion_harris@volkmanbayer.info","PersonType":"NATURAL","Tag":"user
        1"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Kautzer Meadows","AddressLine2":"37514","City":"Ambermouth","Region":"Ohio","PostalCode":"OU95
        2BL","Country":"MK"},"FirstName":"Elisabeth","LastName":"Homenick","Birthday":682362000,"Nationality":"NF","CountryOfResidence":"VG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"zion_harris@volkmanbayer.info","KYCLevel":"LIGHT","Id":"15258144","Tag":"user
        1","CreationDate":1471446157}'
  recorded_at: Wed, 17 Aug 2016 15:02:39 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15258144],"Currency":"EUR","Description":"wallet user 1"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 1","Owners":["15258144"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15258146","Tag":null,"CreationDate":1471446158}'
  recorded_at: Wed, 17 Aug 2016 15:02:39 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15258144
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Kautzer Meadows","AddressLine2":"37514","City":"Ambermouth","Region":"Ohio","PostalCode":"OU95
        2BL","Country":"MK"},"FirstName":"Elisabeth","LastName":"Homenick","Birthday":682362000,"Nationality":"NF","CountryOfResidence":"VG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"zion_harris@volkmanbayer.info","KYCLevel":"LIGHT","Id":"15258144","Tag":"user
        1","CreationDate":1471446157}'
  recorded_at: Wed, 17 Aug 2016 15:02:42 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15258144/bankaccounts/us
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Loy Glover","OwnerAddress":{"AddressLine1":"Kautzer Meadows","AddressLine2":"37514","City":"Ambermouth","Region":"Ohio","PostalCode":"OU95
        2BL","Country":"MK"},"Type":"us","ABA":"071000288","AccountNumber":"11696419"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Kautzer Meadows","AddressLine2":"37514","City":"Ambermouth","Region":"Ohio","PostalCode":"OU95
        2BL","Country":"MK"},"AccountNumber":"11696419","ABA":"071000288","DepositAccountType":"CHECKING","UserId":"15258144","OwnerName":"Loy
        Glover","Type":"US","Id":"15258149","Tag":null,"CreationDate":1471446161,"Active":true}'
  recorded_at: Wed, 17 Aug 2016 15:02:42 GMT
recorded_with: VCR 3.0.3
