---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"PY","Nationality":"KI","Address":{"AddressLine1":"Kerluke
        Forks","AddressLine2":"8398","PostalCode":"IQ49 2RI","City":"Rempelberg","Region":"Idaho","Country":"HK"},"FirstName":"Alanis","LastName":"Weissnat","Birthday":685299600,"Email":"isidro@koepp.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '36'
      - '37'
      - '37'
      - '37'
      X-Ratelimit-Remaining:
      - '105563'
      - '2264'
      - '4463'
      - '8763'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Kerluke Forks","AddressLine2":"8398","City":"Rempelberg","Region":"Idaho","PostalCode":"IQ49
        2RI","Country":"HK"},"FirstName":"Alanis","LastName":"Weissnat","Birthday":685299600,"Nationality":"KI","CountryOfResidence":"PY","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"isidro@koepp.us","KYCLevel":"LIGHT","Id":"16234754","Tag":"user
        5","CreationDate":1474391756}'
  recorded_at: Tue, 20 Sep 2016 17:15:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234754],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '37'
      - '38'
      - '38'
      - '38'
      X-Ratelimit-Remaining:
      - '105562'
      - '2263'
      - '4462'
      - '8762'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234754"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234757","Tag":null,"CreationDate":1474391757}'
  recorded_at: Tue, 20 Sep 2016 17:15:57 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234754
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234754/bankaccounts/us
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Rebeka Lang","OwnerAddress":{"AddressLine1":"Kerluke
        Forks","AddressLine2":"8398","City":"Rempelberg","Region":"Idaho","PostalCode":"IQ49
        2RI","Country":"HK"},"Type":"us","ABA":"071000288","AccountNumber":"11696419"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '41'
      - '42'
      - '42'
      - '42'
      X-Ratelimit-Remaining:
      - '105558'
      - '2259'
      - '4458'
      - '8758'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Kerluke Forks","AddressLine2":"8398","City":"Rempelberg","Region":"Idaho","PostalCode":"IQ49
        2RI","Country":"HK"},"AccountNumber":"11696419","ABA":"071000288","DepositAccountType":"CHECKING","UserId":"16234754","OwnerName":"Rebeka
        Lang","Type":"US","Id":"16234760","Tag":null,"CreationDate":1474391759,"Active":true}'
  recorded_at: Tue, 20 Sep 2016 17:15:59 GMT
recorded_with: VCR 3.0.3
