---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"f8c8004a898f4e7da919032d45bd2313","token_type":"Bearer","expires_in":1199}'
  recorded_at: Tue, 20 Sep 2016 17:15:51 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"WS","Nationality":"TF","Address":{"AddressLine1":"Konopelski
        Mountain","AddressLine2":"26771","PostalCode":"IF4 9MR","City":"South Lee","Region":"Colorado","Country":"SA"},"FirstName":"Melyna","LastName":"Sawayn","Birthday":685299600,"Email":"kristina_lakin@schiller.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '30'
      - '31'
      - '31'
      - '31'
      X-Ratelimit-Remaining:
      - '105569'
      - '2270'
      - '4469'
      - '8769'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Konopelski Mountain","AddressLine2":"26771","City":"South
        Lee","Region":"Colorado","PostalCode":"IF4 9MR","Country":"SA"},"FirstName":"Melyna","LastName":"Sawayn","Birthday":685299600,"Nationality":"TF","CountryOfResidence":"WS","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"kristina_lakin@schiller.ca","KYCLevel":"LIGHT","Id":"16234747","Tag":"user
        5","CreationDate":1474391751}'
  recorded_at: Tue, 20 Sep 2016 17:15:52 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234747],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '31'
      - '32'
      - '32'
      - '32'
      X-Ratelimit-Remaining:
      - '105568'
      - '2269'
      - '4468'
      - '8768'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234747"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234748","Tag":null,"CreationDate":1474391753}'
  recorded_at: Tue, 20 Sep 2016 17:15:53 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234747
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234747/bankaccounts/iban
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Lonie Beatty","OwnerAddress":{"AddressLine1":"Konopelski
        Mountain","AddressLine2":"26771","City":"South Lee","Region":"Colorado","PostalCode":"IF4
        9MR","Country":"SA"},"Type":"iban","IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '35'
      - '36'
      - '36'
      - '36'
      X-Ratelimit-Remaining:
      - '105564'
      - '2265'
      - '4464'
      - '8764'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Konopelski Mountain","AddressLine2":"26771","City":"South
        Lee","Region":"Colorado","PostalCode":"IF4 9MR","Country":"SA"},"IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP","UserId":"16234747","OwnerName":"Lonie
        Beatty","Type":"IBAN","Id":"16234753","Tag":null,"CreationDate":1474391755,"Active":true}'
  recorded_at: Tue, 20 Sep 2016 17:15:55 GMT
recorded_with: VCR 3.0.3
