---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"LI","Nationality":"LI","Address":{"AddressLine1":"Ephraim
        Coves","AddressLine2":"997","PostalCode":"ZH82 2NP","City":"Francescaberg","Region":"Montana","Country":"TK"},"FirstName":"Madie","LastName":"Halvorson","Birthday":685299600,"Email":"major@wildermanmills.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '42'
      - '43'
      - '43'
      - '43'
      X-Ratelimit-Remaining:
      - '105557'
      - '2258'
      - '4457'
      - '8757'
      X-Ratelimit-Reset:
      - '1474392600'
      - '1474393500'
      - '1474395300'
      - '1474478040'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Ephraim Coves","AddressLine2":"997","City":"Francescaberg","Region":"Montana","PostalCode":"ZH82
        2NP","Country":"TK"},"FirstName":"Madie","LastName":"Halvorson","Birthday":685299600,"Nationality":"LI","CountryOfResidence":"LI","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"major@wildermanmills.us","KYCLevel":"LIGHT","Id":"16234761","Tag":"user
        5","CreationDate":1474391759}'
  recorded_at: Tue, 20 Sep 2016 17:16:01 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234761],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '43'
      - '44'
      - '44'
      - '44'
      X-Ratelimit-Remaining:
      - '105556'
      - '2257'
      - '4456'
      - '8756'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234761"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234764","Tag":null,"CreationDate":1474391761}'
  recorded_at: Tue, 20 Sep 2016 17:16:01 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234761
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234761/bankaccounts/ca
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Clarabelle Predovic","OwnerAddress":{"AddressLine1":"Ephraim
        Coves","AddressLine2":"997","City":"Francescaberg","Region":"Montana","PostalCode":"ZH82
        2NP","Country":"TK"},"Type":"ca","BranchCode":"00152","InstitutionNumber":"614","AccountNumber":"11696419","BankName":"SberBank"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '47'
      - '48'
      - '48'
      - '48'
      X-Ratelimit-Remaining:
      - '105552'
      - '2253'
      - '4452'
      - '8752'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Ephraim Coves","AddressLine2":"997","City":"Francescaberg","Region":"Montana","PostalCode":"ZH82
        2NP","Country":"TK"},"AccountNumber":"11696419","InstitutionNumber":"614","BranchCode":"00152","BankName":"SberBank","UserId":"16234761","OwnerName":"Clarabelle
        Predovic","Type":"CA","Id":"16234769","Tag":null,"CreationDate":1474391763,"Active":true}'
  recorded_at: Tue, 20 Sep 2016 17:16:03 GMT
recorded_with: VCR 3.0.3
