---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"LI","Nationality":"TM","Address":{"AddressLine1":"Stacy
        Parkway","AddressLine2":"6693","PostalCode":"HV97 2BN","City":"East Pete","Region":"Louisiana","Country":"PL"},"FirstName":"Geovanni","LastName":"Moen","Birthday":685299600,"Email":"gregory_sauer@kreiger.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '48'
      - '49'
      - '49'
      - '49'
      X-Ratelimit-Remaining:
      - '105551'
      - '2252'
      - '4451'
      - '8751'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Stacy Parkway","AddressLine2":"6693","City":"East
        Pete","Region":"Louisiana","PostalCode":"HV97 2BN","Country":"PL"},"FirstName":"Geovanni","LastName":"Moen","Birthday":685299600,"Nationality":"TM","CountryOfResidence":"LI","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"gregory_sauer@kreiger.co.uk","KYCLevel":"LIGHT","Id":"16234770","Tag":"user
        5","CreationDate":1474391763}'
  recorded_at: Tue, 20 Sep 2016 17:16:05 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[16234770],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '49'
      - '50'
      - '50'
      - '50'
      X-Ratelimit-Remaining:
      - '105550'
      - '2251'
      - '4450'
      - '8750'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["16234770"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"16234771","Tag":null,"CreationDate":1474391765}'
  recorded_at: Tue, 20 Sep 2016 17:16:05 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/16234770
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #5[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/16234770/bankaccounts/other
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Marlen Mosciski","OwnerAddress":{"AddressLine1":"Stacy
        Parkway","AddressLine2":"6693","City":"East Pete","Region":"Louisiana","PostalCode":"HV97
        2BN","Country":"PL"},"Type":"other","Country":"FR","AccountNumber":"11696419","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - Bearer f8c8004a898f4e7da919032d45bd2313
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '53'
      - '54'
      - '54'
      - '54'
      X-Ratelimit-Remaining:
      - '105546'
      - '2247'
      - '4446'
      - '8746'
      X-Ratelimit-Reset:
      - '1474392660'
      - '1474393560'
      - '1474395360'
      - '1474478100'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Stacy Parkway","AddressLine2":"6693","City":"East
        Pete","Region":"Louisiana","PostalCode":"HV97 2BN","Country":"PL"},"AccountNumber":"11696419","BIC":"CRLYFRPP","Country":"FR","UserId":"16234770","OwnerName":"Marlen
        Mosciski","Type":"OTHER","Id":"16234774","Tag":null,"CreationDate":1474391767,"Active":true}'
  recorded_at: Tue, 20 Sep 2016 17:16:07 GMT
recorded_with: VCR 3.0.3
