---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"62fb830bc82244f1954306d9a1e23abc","token_type":"Bearer","expires_in":1199}'
  recorded_at: Wed, 17 Aug 2016 15:46:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"KP","Nationality":"SS","Address":{"AddressLine1":"Champlin
        Ways","AddressLine2":"8826","PostalCode":"KC30 5LG","City":"West Marcelville","Region":"North
        Carolina","Country":"CU"},"FirstName":"Reggie","LastName":"Little","Birthday":682362000,"Email":"berniece@daugherty.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 62fb830bc82244f1954306d9a1e23abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Champlin Ways","AddressLine2":"8826","City":"West
        Marcelville","Region":"North Carolina","PostalCode":"KC30 5LG","Country":"CU"},"FirstName":"Reggie","LastName":"Little","Birthday":682362000,"Nationality":"SS","CountryOfResidence":"KP","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"berniece@daugherty.info","KYCLevel":"LIGHT","Id":"15259674","Tag":"user
        5","CreationDate":1471448818}'
  recorded_at: Wed, 17 Aug 2016 15:47:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15259674],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 62fb830bc82244f1954306d9a1e23abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15259674"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15259678","Tag":null,"CreationDate":1471448820}'
  recorded_at: Wed, 17 Aug 2016 15:47:01 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15259674
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 62fb830bc82244f1954306d9a1e23abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Champlin Ways","AddressLine2":"8826","City":"West
        Marcelville","Region":"North Carolina","PostalCode":"KC30 5LG","Country":"CU"},"FirstName":"Reggie","LastName":"Little","Birthday":682362000,"Nationality":"SS","CountryOfResidence":"KP","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"berniece@daugherty.info","KYCLevel":"LIGHT","Id":"15259674","Tag":"user
        5","CreationDate":1471448818}'
  recorded_at: Wed, 17 Aug 2016 15:47:03 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15259674/bankaccounts/gb
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Gennaro Bauch","OwnerAddress":{"AddressLine1":"Champlin
        Ways","AddressLine2":"8826","City":"West Marcelville","Region":"North Carolina","PostalCode":"KC30
        5LG","Country":"CU"},"Type":"gb","SortCode":"001520","AccountNumber":"11696419"}'
    headers:
      Authorization:
      - Bearer 62fb830bc82244f1954306d9a1e23abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"One or several required parameters are missing or incorrect","Type":"bankaccount_error","Id":"4a17d401-007c-4844-8022-0018c3eda00c#1471448822","Date":1471448826.0,"errors":{}}'
  recorded_at: Wed, 17 Aug 2016 15:47:06 GMT
recorded_with: VCR 3.0.3
