---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"aeeb444b08a2433facb7741e31c0256e","token_type":"Bearer","expires_in":1199}'
  recorded_at: Wed, 17 Aug 2016 14:55:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CI","Nationality":"RO","Address":{"AddressLine1":"Murphy
        Ridges","AddressLine2":"0923","PostalCode":"EA4 4QZ","City":"North Hyman","Region":"Missouri","Country":"HN"},"FirstName":"Sandrine","LastName":"Hand","Birthday":682362000,"Email":"eugenia@grantreichel.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Murphy Ridges","AddressLine2":"0923","City":"North
        Hyman","Region":"Missouri","PostalCode":"EA4 4QZ","Country":"HN"},"FirstName":"Sandrine","LastName":"Hand","Birthday":682362000,"Nationality":"RO","CountryOfResidence":"CI","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"eugenia@grantreichel.com","KYCLevel":"LIGHT","Id":"15257952","Tag":"user
        5","CreationDate":1471445756}'
  recorded_at: Wed, 17 Aug 2016 14:56:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15257952],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15257952"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15257953","Tag":null,"CreationDate":1471445759}'
  recorded_at: Wed, 17 Aug 2016 14:56:01 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural/15257952
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Murphy Ridges","AddressLine2":"0923","City":"North
        Hyman","Region":"Missouri","PostalCode":"EA4 4QZ","Country":"HN"},"FirstName":"Sandrine","LastName":"Hand","Birthday":682362000,"Nationality":"RO","CountryOfResidence":"CI","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"eugenia@grantreichel.com","KYCLevel":"LIGHT","Id":"15257952","Tag":"user
        5","CreationDate":1471445756}'
  recorded_at: Wed, 17 Aug 2016 14:56:04 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15257952/bankaccounts/iban
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Myron Ryan","OwnerAddress":{"AddressLine1":"Murphy Ridges","AddressLine2":"0923","City":"North
        Hyman","Region":"Missouri","PostalCode":"EA4 4QZ","Country":"HN"},"Type":"iban","IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - Bearer aeeb444b08a2433facb7741e31c0256e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Murphy Ridges","AddressLine2":"0923","City":"North
        Hyman","Region":"Missouri","PostalCode":"EA4 4QZ","Country":"HN"},"IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP","UserId":"15257952","OwnerName":"Myron
        Ryan","Type":"IBAN","Id":"15257958","Tag":null,"CreationDate":1471445764,"Active":true}'
  recorded_at: Wed, 17 Aug 2016 14:56:06 GMT
recorded_with: VCR 3.0.3
