%h3 Informations de payement
= form_for @account, as: :account, url:  create_account_user_lesson_requests_path(@teacher), remote: true do |f|
  = render 'mangopay/account_fields', f: f
  .field
    = submit_tag 'terminer', :class => 'btn btn-primary btn-mini'
    %br/
