---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"d2c4b35ade4f40da948c3c0bbb30c8c2","token_type":"Bearer","expires_in":1199}'
  recorded_at: Wed, 24 Aug 2016 17:35:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MX","Nationality":"EG","Address":{"AddressLine1":"McClure
        Stream","AddressLine2":"34457","PostalCode":"VB91 1QX","City":"New Marisaton","Region":"Arkansas","Country":"CI"},"FirstName":"Jessika","LastName":"McGlynn","Birthday":682966800,"Email":"chauncey.hane@baumbach.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer d2c4b35ade4f40da948c3c0bbb30c8c2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '124'
      - '16'
      - '30'
      - '30'
      X-Ratelimit-Remaining:
      - '105476'
      - '2284'
      - '4470'
      - '8770'
      X-Ratelimit-Reset:
      - '1472061000'
      - '1472061900'
      - '1472063700'
      - '1472146440'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"McClure Stream","AddressLine2":"34457","City":"New
        Marisaton","Region":"Arkansas","PostalCode":"VB91 1QX","Country":"CI"},"FirstName":"Jessika","LastName":"McGlynn","Birthday":682966800,"Nationality":"EG","CountryOfResidence":"MX","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"chauncey.hane@baumbach.info","KYCLevel":"LIGHT","Id":"15400312","Tag":"user
        5","CreationDate":1472060126}'
  recorded_at: Wed, 24 Aug 2016 17:35:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15400312],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer d2c4b35ade4f40da948c3c0bbb30c8c2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '125'
      - '17'
      - '31'
      - '31'
      X-Ratelimit-Remaining:
      - '105475'
      - '2283'
      - '4469'
      - '8769'
      X-Ratelimit-Reset:
      - '1472061000'
      - '1472061900'
      - '1472063700'
      - '1472146440'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15400312"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15400313","Tag":null,"CreationDate":1472060127}'
  recorded_at: Wed, 24 Aug 2016 17:35:28 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15400312/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer d2c4b35ade4f40da948c3c0bbb30c8c2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15400312/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15400312/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '128'
      - '20'
      - '34'
      - '34'
      X-Ratelimit-Remaining:
      - '105472'
      - '2280'
      - '4466'
      - '8766'
      X-Ratelimit-Reset:
      - '1472061000'
      - '1472061900'
      - '1472063700'
      - '1472146440'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["15400312"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15400313","Tag":null,"CreationDate":1472060127},{"Description":"wallet
        bonus 5","Owners":["15400312"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15400314","Tag":"Bonus","CreationDate":1472060127},{"Description":"wallet
        transfert 5","Owners":["15400312"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15400315","Tag":"Transfert","CreationDate":1472060128}]'
  recorded_at: Wed, 24 Aug 2016 17:35:30 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/bankwire/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":"15400312","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000.0},"DeclaredFees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"15400313"}'
    headers:
      Authorization:
      - Bearer d2c4b35ade4f40da948c3c0bbb30c8c2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '129'
      - '21'
      - '35'
      - '35'
      X-Ratelimit-Remaining:
      - '105471'
      - '2279'
      - '4465'
      - '8765'
      X-Ratelimit-Reset:
      - '1472061000'
      - '1472061900'
      - '1472063700'
      - '1472146440'
    body:
      encoding: UTF-8
      string: '{"Id":"15400316","Tag":null,"CreationDate":1472060130,"ResultCode":null,"ResultMessage":null,"AuthorId":"15400312","CreditedUserId":"15400312","DebitedFunds":null,"CreditedFunds":null,"Fees":null,"Status":"CREATED","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"15400313","DebitedWalletId":null,"PaymentType":"BANK_WIRE","ExecutionType":"DIRECT","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000},"DeclaredFees":{"Currency":"EUR","Amount":0},"WireReference":"0d9761c10f","BankAccount":{"OwnerAddress":{"AddressLine1":"1
        Mango Street","AddressLine2":null,"City":"Paris","Region":null,"PostalCode":"75010","Country":"FR"},"Type":"IBAN","OwnerName":"MANGOPAY","IBAN":"FR7618829754160173622224251","BIC":"CMBRFR2BCME"}}'
  recorded_at: Wed, 24 Aug 2016 17:35:31 GMT
recorded_with: VCR 3.0.3
