---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic aXBhaTVhdjc3M3hoemh5ajpVTjQ5TVFDWUpYbVFVMlljcTRoc2ViN21vdG9HM1pCZ3hKdVQyU2JndUNDWlVhYjA4RA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"5ddfa1b340a24008938125a2575b0a15","token_type":"Bearer","expires_in":1199}'
  recorded_at: Tue, 16 Aug 2016 14:01:21 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"TR","Nationality":"HK","Address":{"AddressLine1":"Claud
        Run","AddressLine2":"69548","PostalCode":"NZ07 8QA","City":"Alizefort","Region":"Rhode
        Island","Country":"PS"},"FirstName":"Yolanda","LastName":"VonRueden","Birthday":682275600,"Email":"maymie.raynor@volkman.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - Bearer 5ddfa1b340a24008938125a2575b0a15
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Claud Run","AddressLine2":"69548","City":"Alizefort","Region":"Rhode
        Island","PostalCode":"NZ07 8QA","Country":"PS"},"FirstName":"Yolanda","LastName":"VonRueden","Birthday":682275600,"Nationality":"HK","CountryOfResidence":"TR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"maymie.raynor@volkman.com","KYCLevel":"LIGHT","Id":"15233211","Tag":"user
        5","CreationDate":1471356080}'
  recorded_at: Tue, 16 Aug 2016 14:01:22 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[15233211],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - Bearer 5ddfa1b340a24008938125a2575b0a15
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["15233211"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15233212","Tag":null,"CreationDate":1471356081}'
  recorded_at: Tue, 16 Aug 2016 14:01:23 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15233211/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer 5ddfa1b340a24008938125a2575b0a15
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15233211/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/users/15233211/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["15233211"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15233212","Tag":null,"CreationDate":1471356081},{"Description":"wallet
        bonus 5","Owners":["15233211"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15233213","Tag":"Bonus","CreationDate":1471356082},{"Description":"wallet
        transfert 5","Owners":["15233211"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"15233214","Tag":"Transfert","CreationDate":1471356083}]'
  recorded_at: Tue, 16 Aug 2016 14:01:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/ipai5av773xhzhyj/payins/bankwire/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":"15233211","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000},"DeclaredFees":{"Currency":"EUR","Amount":0},"CreditedWalletId":"15233212"}'
    headers:
      Authorization:
      - Bearer 5ddfa1b340a24008938125a2575b0a15
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.21","lang":"ruby","lang_version":"2.2.4 p230 (2015-12-16)","platform":"x86_64-linux","uname":"Linux
        shredder-pc 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64
        x86_64 x86_64 GNU/Linux"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"15233216","Tag":null,"CreationDate":1471356085,"ResultCode":null,"ResultMessage":null,"AuthorId":"15233211","CreditedUserId":"15233211","DebitedFunds":null,"CreditedFunds":null,"Fees":null,"Status":"CREATED","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"15233212","DebitedWalletId":null,"PaymentType":"BANK_WIRE","ExecutionType":"DIRECT","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000},"DeclaredFees":{"Currency":"EUR","Amount":0},"WireReference":"5c1f570310","BankAccount":{"OwnerAddress":{"AddressLine1":"1
        Mango Street","AddressLine2":null,"City":"Paris","Region":null,"PostalCode":"75010","Country":"FR"},"Type":"IBAN","OwnerName":"MANGOPAY","IBAN":"FR7618829754160173622224251","BIC":"CMBRFR2BCME"}}'
  recorded_at: Tue, 16 Aug 2016 14:01:26 GMT
recorded_with: VCR 3.0.3
