%ul.nav.navbar-nav
  %li= link_to 'Devenir Prof', become_teacher_accueil_path
  %li
    %a{"data-toggle" => "modal", :href => "#myModCo"} Aide
  %li
    %a{"data-toggle" => "modal", :href => "#myModIns"} S'inscrire
  %li
    %a{"data-toggle" => "modal", :href => "#myModCo"} Connexion